<!-- #layout name=default -->
<div id="main" class="code-container">
  <div class="code-tree">
    <div>
      <input class="code-search" placeholder="search" v-model="keyword" />
    </div>
    <div>
      <div
        v-for="code in filtedCodes"
        :key="code.id"
        class="code-item"
        @click="currentCode=code"
        :class="{'select-code-item':code.id==currentCode.id}"
      >
        {{code.name}}
      </div>
    </div>
  </div>
  <div class="ctrl-bar navbar navbar-default">
    <button class="btn btn-default" v-if="end" @click="startSession">
      <i class="glyphicon glyphicon-play"></i> <span>Start debugging</span>
    </button>

    <button class="btn btn-default" v-else @click="onStep('None')">
      <i class="glyphicon glyphicon-arrow-right"></i> <span>Continue</span
      ><span>(F8)</span>
    </button>

    <button class="btn btn-default" @click="onStep('Into')">
      <i class="glyphicon glyphicon-log-in"></i> <span>Step into</span
      ><span>(F11)</span>
    </button>
    <button
      class="btn btn-default"
      @click.stop.prevent.keyup.121="onStep('Over')"
    >
      <i class="glyphicon glyphicon-new-window"></i> <span>Step over</span
      ><span>(F10)</span>
    </button>
    <button class="btn btn-default" @click="onStep('Out')">
      <i class="glyphicon glyphicon-log-out"></i> <span>Step out</span
      ><span>(Shift + F11)</span>
    </button>
    <div style="position: absolute; right: 0">
      <a
        target="blank"
        class="btn blue"
        v-if="currentCode"
        :href="Kooboo.Route.Get(Kooboo.Route.Code.EditPage, {
            id: currentCode.id
        })"
        >Edit</a
      >
      <button class="btn btn-default" @click="getCode(currentCode)">
        <i class="fa fa-refresh"></i>&nbsp;<span>Reload</span>
      </button>
    </div>
  </div>

  <div class="code-editor">
    <table>
      <tr v-for="(line,index) in lines">
        <td
          class="breackpoint"
          :class="{'checked-bk':isBreakpoint(index+1)}"
          @click="checkBreackpoint(index+1)"
        >
          <span><i></i>{{index+1}}</span>
        </td>
        <td
          class="code-line"
          :class="{'current-executing':isExecuting(index+1)&&!end}"
        >
          <code>{{line}}</code>
        </td>
      </tr>
    </table>
  </div>
  <div class="debugging-info">
    <div>
      <h6>Execute code</h6>
      <input
        placeholder="Input your code here"
        class="form-control"
        v-model.trim="code"
        @keydown.enter="executeCode"
      />
      <button class="btn btn-default" type="button" @click="executeCode">
        <i class="fa fa-arrow-left fa-fw"></i>
        <span>Execute</span>
      </button>
      <div>
        <template v-for="item in codeResults">
          <template v-if="typeof(item)=='array'||typeof(item)=='object'">
            <v-json-tree :json-data="item" />
          </template>
          <template v-else>
            <p>{{item}}</p>
          </template>
        </template>
      </div>
    </div>

    <div>
      <h6>Variables</h6>
      <code
        v-if="debugInfo"
        v-html="syntaxHighlight(JSON.stringify(debugInfo.variables, undefined, 4))"
      >
      </code>
    </div>
  </div>
</div>

<script>
  Kooboo.loadJS(["/_Admin/Scripts/lib/vue-json-tree.js"]);
  Vue.component("v-json-tree", vJsonTree);

  new Vue({
    el: "#main",
    data: function () {
      return {
        keyword: "",
        codes: [],
        currentCode: null,
        lines: [],
        breackpoints: [],
        debugInfo: null,
        end: false,
        code: "",
        codeResults: [],
      };
    },
    mounted: function () {
      var me = this;
      Kooboo.Code.getListByType({
        codeType: "all",
      }).then(function (rsp) {
        me.codes = rsp.model;
        me.currentCode = me.codes[0];
      });

      document.onkeydown = function (e) {
        switch (e.keyCode) {
          case 119: //F8
            e.preventDefault();
            me.onStep("None");
            break;
          case 122: //F11
            e.preventDefault();
            if (e.shiftKey) {
              me.onStep("Out");
            } else {
              me.onStep("Into");
            }
            break;
          case 121: //F10
            e.preventDefault();
            me.onStep("Over");
            break;
        }
      };

      this.keepSessionLive();
    },
    watch: {
      currentCode(value) {
        this.getCode(value);
      },
    },
    computed: {
      filtedCodes() {
        var me = this;
        return this.codes.filter(function (f) {
          return f.name.indexOf(me.keyword) > -1;
        });
      },
    },
    methods: {
      checkBreackpoint: function (line) {
        var me = this;
        if (!me.currentCode || !me.currentCode.id) return;

        Kooboo.Debugger.setBreakpoint({
          point: {
            codeId: me.currentCode.id,
            line: line,
          },
          isCurrent: false,
        }).then(function (rsp) {
          me.breackpoints = rsp.model;
        });
      },
      isBreakpoint: function (line) {
        var me = this;
        if (!me.currentCode || !me.currentCode.id) return;

        return (
          me.breackpoints.filter(function (f) {
            return f.line == line && f.codeId == me.currentCode.id;
          }).length > 0
        );
      },
      isExecuting(line) {
        var me = this;
        if (!me.currentCode || !me.currentCode.id || !me.debugInfo) return;
        return line == me.debugInfo.currentLine;
      },
      keepSessionLive: function () {
        var me = this;
        setInterval(function () {
          Kooboo.Debugger.getSession().then(function (rsp) {
            me.breackpoints = rsp.model.breakLines;
            me.debugInfo = rsp.model.debugInfo;
            me.end = rsp.model.end;
            if (!me.end && me.debugInfo && rsp.model.currentCodeId) {
              me.currentCode = me.codes.filter(function (f) {
                return f.id == rsp.model.currentCodeId;
              })[0];
            }
          });
        }, 500);
      },
      startSession: function () {
        var me = this;
        Kooboo.Debugger.startSession().then(function (rsp) {
          me.avtive = true;
        });
      },
      onStep(step) {
        Kooboo.Debugger.step({
          action: step,
        });
      },
      syntaxHighlight: function (json) {
        json = json
          .replace(/&/g, "&amp;")
          .replace(/</g, "&lt;")
          .replace(/>/g, "&gt;");
        return json.replace(
          /("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g,
          function (match) {
            var cls = "number";
            if (/^"/.test(match)) {
              if (/:$/.test(match)) {
                cls = "key";
              } else {
                cls = "string";
              }
            } else if (/true|false/.test(match)) {
              cls = "boolean";
            } else if (/null/.test(match)) {
              cls = "null";
            }
            return '<span class="' + cls + '">' + match + "</span>";
          }
        );
      },
      getCode: function (value) {
        if (!value) return;
        var me = this;
        Kooboo.Code.getEdit({
          id: value.id,
          codetype: value.codeType,
        }).then(function (rsp) {
          if (!rsp.model || !rsp.model.body) return;
          me.lines = rsp.model.body.split("\n");
        });
      },
      executeCode: function () {
        var me = this;
        Kooboo.Debugger.execute({
          jsStatement: me.code,
        }).then(function (rsp) {
          me.codeResults.unshift(rsp.model);
        });
        me.code = "";
      },
    },
  });
</script>

<style>
  .code-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 46px;
    bottom: 0;
    margin: 0 !important;
    padding: 0 !important;
  }

  .code-tree {
    width: 200px;
    border-right: 1px solid #ddd;
    background-color: #f1f1f1;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
  }

  .code-search {
    width: 100%;
    outline-width: 0;
    border-width: 0;
    height: 35px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }

  .code-item {
    line-height: 30px;
    padding: 5px;
    cursor: pointer;
  }

  .select-code-item {
    background-color: #ddd;
  }

  .code-item:hover {
    background-color: rgba(221, 221, 221, 0.541);
  }

  .breackpoint {
    vertical-align: top;
    background-color: #f1f1f1;
    word-break: keep-all;
  }

  .breackpoint span {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 2px 5px;
    cursor: pointer;
  }

  .breackpoint span i {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    background-color: red;
    margin-right: 3px;
  }

  .breackpoint:hover i {
    opacity: 0.5;
  }

  .checked-bk i {
    opacity: 0.9 !important;
  }

  .code-line {
    word-break: break-all;
    background-color: #fff;
    padding: 0 5px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .current-executing {
    background-color: yellow;
  }

  code {
    color: black;
    background-color: transparent;
    word-break: break-all;
    white-space: pre-wrap;
  }

  .ctrl-bar {
    position: absolute;
    top: 5px;
    left: 205px;
    right: 5px;
    padding: 0 5px;
    display: flex;
    align-items: center;
  }

  .code-editor {
    position: absolute;
    bottom: 5px;
    top: 55px;
    left: 205px;
    right: 305px;
    overflow: auto;
    outline: #f1f1f1 1px solid;
  }

  .debugging-info {
    position: absolute;
    bottom: 0;
    top: 55px;
    right: 0px;
    width: 300px;
  }
  .debugging-info > div {
    height: 50%;
    overflow-y: auto;
    outline: #f1f1f1 1px solid;
  }
</style>
