<!-- #layout name=default -->
<div id="main" class="code-container">
  <div class="code-tree">
    <div>
      <input class="code-search" placeholder="search" v-model="keyword" />
    </div>
    <div>
      <div
        v-for="code in filtedCodes"
        :key="code.id"
        class="code-item"
        @click="currentCode=code"
      >
        {{code.name}}
      </div>
    </div>
  </div>
  <div class="ctrl-bar navbar navbar-default">
    <button class="btn btn-default">
      <i class="glyphicon glyphicon-arrow-right"></i> <span>Continue</span
      ><span>(F8)</span>
    </button>

    <button v-else class="btn btn-default">
      <i class="glyphicon glyphicon-play"></i> <span>Start debugging</span>
    </button>

    <button class="btn btn-default">
      <i class="glyphicon glyphicon-log-in"></i> <span>Step into</span
      ><span>(F11)</span>
    </button>
    <button class="btn btn-default">
      <i class="glyphicon glyphicon-new-window"></i> <span>Step over</span
      ><span>(F10)</span>
    </button>
    <button class="btn btn-default">
      <i class="glyphicon glyphicon-log-out"></i> <span>Step out</span
      ><span>(Shift + F11)</span>
    </button>
  </div>

  <div class="code-editor">
    <table>
      <tr v-for="(line,index) in lines">
        <td
          class="breackpoint"
          :class="{'checked-bk':isBreakpoint(index+1)}"
          @click="checkBreackpoint(index+1)"
        >
          <span><i></i>{{index+1}}</span>
        </td>
        <td class="code-line" :class="{'current-executing':line.current}">
          <code>{{line.content}}</code>
        </td>
      </tr>
    </table>
  </div>
</div>

<script>
  new Vue({
    el: "#main",
    data: function () {
      return {
        keyword: "",
        codes: [],
        currentCode: null,
        lines: [],
        breackpoints: [],
      };
    },
    mounted: function () {
      var me = this;
      Kooboo.Code.getListByType({
        codeType: "all",
      }).then(function (rsp) {
        me.codes = rsp.model;
        me.currentCode = me.codes[0];
      });
    },
    watch: {
      currentCode(value) {
        if (!value) return;
        var me = this;
        Kooboo.Code.getEdit({
          id: value.id,
          codetype: value.codeType,
        }).then(function (rsp) {
          me.lines = [];
          if (!rsp.model || !rsp.model.body) return;
          var lines = rsp.model.body.split("\n");

          for (var i = 0; i < lines.length; i++) {
            me.lines.push({
              content: lines[i],
              checkedBk: false,
              current: false,
            });
          }
        });
      },
    },
    computed: {
      filtedCodes() {
        var me = this;
        return this.codes.filter(function (f) {
          return f.name.indexOf(me.keyword) > -1;
        });
      },
    },
    methods: {
      checkBreackpoint(line) {
        var me = this;
        if (!me.currentCode || !me.currentCode.id) return;

        if (this.isBreakpoint(line)) {
          this.breackpoints = this.breackpoints.filter(function (f) {
            return f.line != line || f.codeId != me.currentCode.id;
          });
        } else {
          this.breackpoints.push({
            line: line,
            codeId: me.currentCode.id,
          });
        }
      },
      isBreakpoint(line) {
        var me = this;
        if (!me.currentCode || !me.currentCode.id) return;

        return (
          this.breackpoints.filter(function (f) {
            return f.line == line && f.codeId == me.currentCode.id;
          }).length > 0
        );
      },
    },
  });
</script>

<style>
  .code-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 46px;
    bottom: 0;
    margin: 0 !important;
    padding: 0 !important;
  }

  .code-tree {
    width: 200px;
    border-right: 1px solid #ddd;
    background-color: #f1f1f1;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
  }

  .code-search {
    width: 100%;
    outline-width: 0;
    border-width: 0;
    height: 35px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }

  .code-item {
    line-height: 30px;
  }

  .breackpoint {
    vertical-align: top;
    background-color: #f1f1f1;
    word-break: keep-all;
  }

  .breackpoint span {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 2px 5px;
    cursor: pointer;
  }

  .breackpoint span i {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    background-color: red;
    margin-right: 3px;
  }

  .breackpoint:hover i {
    opacity: 0.5;
  }

  .checked-bk i {
    opacity: 0.9 !important;
  }

  .code-line {
    word-break: break-all;
    background-color: #fff;
    padding: 0 5px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .current-executing {
    background-color: yellow;
  }

  code {
    color: black;
    background-color: transparent;
    word-break: break-all;
    white-space: pre-wrap;
  }

  .ctrl-bar {
    position: absolute;
    top: 5px;
    left: 205px;
    right: 5px;
    padding: 0 5px;
    display: flex;
    align-items: center;
  }

  .code-editor {
    position: absolute;
    bottom: 0px;
    top: 55px;
    left: 205px;
    right: 0;
    overflow: auto;
    outline: #f1f1f1 1px solid;
  }
</style>
