.form-group {
            margin-bottom: 15px;
        }
        
        label.control-label {
            display: inline-block;
            margin-bottom: 10px;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        
        .form-control {
            display: block;
            width: 100%;
            padding: 8px 5px;
            font-size: 12px;
            color: #555555;
            background-color: #ffffff;
            border: 1px solid #e5e5e5;
            border-radius: 3px;
        }
        
        select.form-control {
            padding: 9px 5px;
        }
        
        textarea.form-control {
            min-height: 230px;
            font-size: 14px;
            font-family: "Î¢ÈíÑÅºÚ";
            line-height: 1.5;
            color: #555;
        }
        
        label.radio-inline,
        label.checkbox-inline {
            position: relative;
            display: inline-block;
            cursor: pointer;
            margin-right: 20px;
        }
        
        .radio-inline span,
        .checkbox-inline span {
            display: inline-block;
            vertical-align: middle;
        }
        
        .btn {
            min-width: 70px;
            min-height: 35px;
            line-height: 19px;
            padding: 4px 10px;
            border: none;
            outline: none;
            border-radius: 2px;
            font-weight: 400;
            font-size: 16px;
            margin-right: 10px;
        }
        
        .btn-block {
            width: 100%;
        }
        
        .submit-btn {
            background-color: #0087c2;
            border: 1px solid #0087c2;
            color: #fff;
        }
        
        .submit-btn:hover {
            background: #0278ab;
        }
        
        .submit-btn:active {
            background: #01628c;
        }
        
        .reset-btn {
            background-color: #fff;
            border: 1px solid #adadad;
            color: #555;
        }
        
        .reset-btn:hover {
            background: #e6e6e6;
        }
        
        .reset-btn:active {
            background: #cacaca;
        }
        
        .form-control-static {
            margin-bottom: 5px;
            color: #555;
            line-height: 1.5;
            word-wrap: break-word;
            word-break: normal;
        }
        
        .control-hr {
            border: none;
            border-bottom: 1px solid #ccc;
            margin: 5px;
        }
        
        input::-webkit-input-placeholder {
            color: #aaa;
        }
        
        input:-moz-placeholder {
            color: #aaa;
        }
        
        input::-moz-placeholder {
            color: #aaa;
        }
        
        input:-ms-input-placeholder {
            color: #aaa;
        }
        
        textarea::-webkit-input-placeholder {
            color: #aaa;
        }
        
        textarea:-moz-placeholder {
            color: #aaa;
        }
        
        textarea::-moz-placeholder {
            color: #aaa;
        }
        
        textarea:-ms-input-placeholder {
            color: #aaa;
        }
        
        input[type=radio] {
            -webkit-appearance: none;
            position: relative;
            vertical-align: middle;
            width: 16px;
            height: 16px;
            border: 1px solid #ccc;
            outline: none;
            border-radius: 8px;
            margin: 10px 5px 10px 0px;
        }
        
        input[type=radio]:after {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            display: block;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background: #0087c2;
            border-radius: 6px;
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            transform: scale(0);
        }
        
        input[type=radio]:checked:after {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            transform: scale(1);
        }
        
        input[type=checkbox]:checked,
        input[type=radio]:checked {
            border: 1px solid #0087c2;
        }
        
        input[type=checkbox] {
            margin: 10px 5px 10px 0px;
            -webkit-appearance: none;
            position: relative;
            vertical-align: middle;
            width: 16px;
            height: 16px;
            border: 1px solid #ccc;
            -webkit-border-radius: 2px;
            -moz-border-radius: 4px;
            outline: none;
        }
        
        input[type=checkbox]:after {
            content: '\\2713';
            position: absolute;
            width: 100%;
            height: 100%;
            color: #0087c2;
            text-align: center;
            line-height: 16px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            opacity: 0;
        }
        
        input[type=checkbox]:checked:after {
            opacity: 1;
        }