<!-- #layout name=blank -->
<style>
    .menu-link {
        text-decoration: none;
        border-bottom: 1px dashed;
    }

    .menu-link:hover {
        text-decoration: none;
    }
</style>
<div id="app">

    <div class="page-header">
        <h1 class="title">{{Kooboo.text.common.Menu + ': '+ name}}</h1>
    </div>
    <kb-breadcrumb :breads="breads"></kb-breadcrumb>
    <div id="container">
        <table class="table tree table-hover">
            <thead>
            <tr>
                <th>Display text</th>
                <th>Link</th>
                <th class="table-action"></th>
                <th class="table-action"></th>
                <th class="table-action"></th>
                <th class="table-action"></th>
                <th class="table-action"></th>
                <th class="table-action"></th>
            </tr>
            </thead>
            <tbody>
            <template v-for="(item,index) in menuItems">
            <tr  :class="className(item)">
                <td>
                    <a v-if="isNotRoot(item)" :data-url="item.UpdateText" :data-inline-edit="true" :data-id="item.id">{{item.name}}</a>
                    <span v-else>{{item.name}}</span>
                </td>
                <td>
                    <a v-if="isNotRoot(item) && !item.urlEditing"
                       @click.stop="editUrl($event,item)" class="menu-link">{{item.url}}</a>
                </td>
                <td>
                    <a v-if="isNotRoot(item) && isMultiLangeMenu" v-kb-tooltip:left="Kooboo.text.tooltip.menu.multilingual"
                       @click.stop="onShowMultiModal" class="btn btn-xs btn-default"><i class="fa fa-language"></i></a>
                </td>
                <td>
                    <a v-kb-tooltip:top="Kooboo.text.tooltip.menu.editTemplate"
                       href="javascript:;" class="btn btn-xs btn-default"><i class="fa fa-code"></i></a>
                </td>
                <td>
                    <a class="btn btn-xs btn-default" @click.stop="onAddSubMenu($event,index,item)"
                       v-kb-tooltip:top="Kooboo.text.tooltip.menu.addSubMenu"><i
                            class="fa fa-plus"></i></a>
                </td>
                <td>
                    <a v-if="isNotRoot(item)" @click.stop="onRemoveSubMenu($event,index,item)"
                       v-kb-tooltip:top="Kooboo.text.common.remove"
                       class="btn btn-xs btn-default"><i class="fa fa-minus"></i></a>
                </td>
                <td>
                    <a v-kb-tooltip:top="index === 0 ?'' : Kooboo.text.tooltip.moveUp"
                       v-if="isNotRoot(item)"
                       @click.stop="menuMoveUp($event,index,item)"
                       :disabled = 'index === 0' class="btn btn-xs btn-default"><i class="fa fa-caret-up"></i></a>
                </td>
                <td>
                    <a v-kb-tooltip:left="index === menuItems.length -1 ?'' : Kooboo.text.tooltip.moveDown"
                       v-if="isNotRoot(item)"
                       @click.stop="menuMoveDown($event,index,item)"
                       :disabled = 'index === menuItems.length -1'
                      class="btn btn-xs btn-default"><i class="fa fa-caret-down"></i></a>
                </td>
            </tr>
                <template v-if="item.addSubMenuing">
                    <tr>
                        <td>
                            <div  class="col-md-8" :class="{'has-error': !item.validate.name.valid}">
                                <input  v-model="item.newSub.name"
                                        @input="clearValidate($event,item)"
                                        type="text" class="form-control" placeholder="Sub menu's name" />
                            </div>
                        </td>
                        <td>
                            <div class="col-md-8" :class="{'has-error': !item.validate.url.valid}">
                                <input @input="clearValidate($event,item)"
                                       v-model="item.newSub.url" type="text" class="form-control row" placeholder="Select value from below or type a new url">
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td colspan="2" class="table-action">
                            <a @click.stop="onSaveSubMenu($event,index,item)" class="btn btn-sm blue">Save</a>
                        </td>
                        <td colspan="2" class="table-action">
                            <a @click.stop="onCancelSubMenu($event,index,item)" class="btn btn-sm btn-default">Cancel</a>
                        </td>
                    </tr>
                </template>

            </template>
            </tbody>
            <tfoot data-bind="visible: loading">
            <tr>
                <td colspan="100" class="text-center">
                    <i class="fa fa-spinner fa-spin"></i>
                    <!-- ko text: Kooboo.text.common.loading -->
                    <!-- /ko -->
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<script>
    (function () {
        Kooboo.loadJS([
            "/_Admin/Scripts/kooboo/Guid.js",
            "/_Admin/Scripts/lib/bootstrap3-typeahead.min.js",
            "/_Admin/Scripts/kobindings.typeahead.js",
            "/_Admin/Scripts/vue-components/kbBreadcrumb.js",
            "/_Admin/Scripts/lib/treegrid/jquery.treegrid.min.js",
            "/_Admin/Scripts/lib/x-editable/bootstrap-editable.min.js"
        ]);
        Kooboo.loadCSS([
            "/_Admin/Styles/bootstrap-editable/css/bootstrap-editable.css"
        ])
    })()
</script>
<script src="/_Admin/View/Development/Menu.js"></script>
