* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #fff;
}

.head {
    margin: 0;
    padding: 0;
    background-color: #f6f8f9;
    /*min-width: 768px;*/
}

.head_innner {
    background-color: white;
    /*margin: 0 75px;*/
    height: 80px;
    width: 90%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #e7e7eb;
}

.head_container {
    padding: 8px 0 0 5px;
    min-height: 80px;
}

.head_title {
    padding-top: 20px;
}

.main_area {
    margin: 0;
    padding: 0;
    background-color: #f6f8f9;
    /*min-width: 768px;*/
}

.main_area_inner {
    width: 90%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.container_box {
    padding: 0;
    /*margin-top: 20px;*/
    min-height: 700px;
    background-color: #fff;
}

.container_box.cell_layout .col_side {
    width: 17.5%;
    max-width: 208px;
}

.container_box.cell_layout .col_side,
.container_box.cell_layout .col_main {
    /*display: table-cell;*/
    vertical-align: top;
    word-wrap: break-word;
    word-break: break-all;
    float: left;
}

.side_l .col_side {
    border-right: 1px solid #e7e7eb;
}

.col_side {
    background-color: #fff;
}

.col_side {
    min-height: 1px;
}

#leftTree ul li {
    list-style-type: none
}

.menu_box_primary {
    max-width: 300px;
    /*min-width: 200px;*/
}

.menu_primary dt {
    cursor: pointer;
}

#leftTree ul {
    max-width: 300px;
    /*min-width: 200px;*/
}

#leftTree ul .list-group-item {
    line-height: 40px;
    height: 40px;
    padding: 0 0 0 32px;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}

.container_box.cell_layout .col_main {
    width: 82%;
    height: 700px;
}

.main_bd {
    padding: 25px 50px;
}

.article_box .inner {
    padding: 0;
}

.article_box dl,
.article_box li,
.article_box p {
    padding-bottom: 14px;
    font-size: 14px;
}

p {
    margin: 0 0 10px;
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

table caption+thead tr:first-child th,
table caption+thead tr:first-child td,
table colgroup+thead tr:first-child th,
table colgroup+thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}

table thead th {
    vertical-align: bottom;
}

table th {
    font-weight: bold;
}

table th,
table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
    word-break: keep-all;
}

table td a,
.article_box a {
    text-decoration: none;
}

#iframe {
    border: 0;
    width: 100%;
    /* height: 770px; */
}

.article_box textarea {
    word-break: initial;
    width: 100%;
    min-height: 200px;
}

.article_box textarea {
    white-space: pre-wrap;
}

textarea.code {
    border: none;
}

textarea {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.article_box pre {
    word-break: initial;
}

.article_box pre {
    white-space: pre-wrap;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

pre code {
    padding: 0;
    color: inherit;
    white-space: pre;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
}

.head_container .menu_container {
    display: none;
}

.container_box.cell_layout .col_main.minwidth {
    width: 880px;
}

@media screen and (max-width: 1000px) {

    .head_innner,
    .main_area_inner {
        width: 100%;
    }

    .head_innner {
        height: 70px;
    }

    .main_bd {
        padding: 25px 20px;
    }

    .container_box.cell_layout .col_side {
        display: none;
        position: absolute;
        min-width: 260px;
        height: 2476px;
    }

    .container_box.cell_layout .col_main {
        width: 100%;
        float: none
    }

    .head_container .head_title {
        display: none;
    }

    .head_container .menu_container {
        display: block;
        height: 54px;
        left: 4px;
    }

    .head_container .menu_container .menu_btn {
        width: 22px;
        padding: 16px;
        display: block;
        float: left;
    }

    .head_container .menu_container .menu_btn i {
        display: block;
        width: 22px;
        height: 22px;
        background-image: url(/_admin/images/menuicon.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .head_container .menu_container #open_in_tab {
        float: right;
        width: 22px;
        padding: 16px;
        display: block;
    }

    .head_container .menu_container #open_in_tab i {
        display: block;
        width: 22px;
        height: 22px;
        background-image: url(/_admin/images/openicon.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}