<!-- #layout name=blank-->
<div class="page-header">
    <h1 class="title">Content types</h1>
</div>
<div data-bind="component: { name: 'kb-breadcrumb', params:[{
    name: 'SITES'
},{
    name: 'DASHBOARD'
},{
    name: Kooboo.text.common.ContentTypes
}]}"></div>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <a data-bind="attr: {href: createNewContentType}" class="btn green navbar-btn">Create</a>
        <a data-bind="visible: showDeleteBtn, click: onDelete" class="btn red navbar-btn">Delete</a>
    </div>
</div>
<div data-bind="component: { name: 'kb-table', params: tableData }"></div>

<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/Scripts/components/kbTable.js",
            "/_Admin/Scripts/components/kbBreadcrumb.js",
            "/_Admin/Scripts/tableModel.js"
        ])
    })()
</script>
<script src="/_Admin/View/Contents/ContentTypes.js"></script>