<!-- #layout name=empty -->
<div id="main" style="margin:0">
  <div class="page-header">
    <h1 class="title">Text Content</h1>
    <kb-multilang-selector
      v-if="siteLangs"
      :cultures="siteLangs.cultures"
      :default-culture="siteLangs.default"
    >
    </kb-multilang-selector>
  </div>
  <kb-field-panel
    class="clearfix"
    ref="fieldPanel"
    :fields="fields"
    :categories="categories"
    :embedded="embedded"
    :values.sync="contentValues"
    :site-langs="siteLangs"
    @media-dialog-data="mediaDialogData=$event"
  ></kb-field-panel>
  <kb-media-dialog :data.sync="mediaDialogData"></kb-media-dialog>
</div>

<script>
  window.__gl = {};
  Kooboo.viewEditor = {
    component: {}
  };
</script>
<script>
  (function() {
    Kooboo.loadJS([
      "/_Admin/Scripts/components/kbMultilangSelector.js",
      "/_Admin/Scripts/components/kbFieldPanel.js",
      "/_Admin/Scripts/components/kb-media-dialog.js",
      "/_Admin/Scripts/kooboo/Guid.js"
    ]);
  })();
</script>
<script src="/_Admin/View/Contents/ContentDialog.js"></script>
