<!-- #layout name=blank -->

<div class="page-header">
    <div class="title">HTML blocks</div>
</div>
<div data-bind="component: { name: 'kb-breadcrumb', params:[{
    name:'SITES'
},{
    name:'DASHBOARD'
},{
    name:Kooboo.text.common.HTMLblocks
}] }"></div>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <a data-bind="attr: { href: onCreateUrl }" class="btn green navbar-btn">New</a>
        <a data-bind="visible: showDeleteBtn, click: onDelete" class="btn red navbar-btn">Delete</a>
    </div>
</div>
<div data-bind="component: { name: 'kb-table', params: tableData }"></div>
<div data-bind="component: { name: 'kb-relation-modal' }"></div>

<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/Scripts/components/kbTable.js",
            "/_Admin/Scripts/components/kbRelationModal.js",
            "/_Admin/Scripts/components/kbBreadcrumb.js",
            "/_Admin/Scripts/tableModel.js"
        ])
    })()
</script>
<script src="/_Admin/View/Contents/HtmlBlocks.js"></script>