<!-- #layout name=blank --sideType='market'-->

<div class="page-header">
    <h1 class="title">Discussions</h1>
</div>

<div data-bind="component: { name: 'kb-breadcrumb', params:[{
    name: 'MARKET'
},{
    name: 'Discussions',
    url: Kooboo.Route.Discussion.ListPage
},{
    name: 'Detail'
}]}"></div>

<div class="col-md-5 col-sm-12 margin-bottom-25">
    <div class="article row">
        <div class="page-header">
            <div class="discussion">
                <div class="discussion-body">
                    <h3 class="discussion-heading" data-bind="text: title, attr: { title: title }"></h3>
                    <div class="clearfix">
                        <div class="pull-left">
                            <span class="item-left" data-bind="text: userName"></span>
                            <span class="item-right" data-bind="text: date"></span>
                        </div>
                        <div class="pull-right">
                            <span class="item-left"><i class="fa fa-eye"></i>&nbsp;
                                <!-- ko text: viewCount -->
                                <!-- /ko -->
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="font-size: 16px;">
                <div style="word-break: break-all;" data-bind="html: content"></div>
            </div>
        </div>
    </div>

    <div class="comment row">
        <div class="page-header">
            <h4 data-bind="text: 'Comments ('+commentCount()+')'"></h4>
        </div>
        <div class="col-md-12">
            <div class="row">
                <reply-panel params="type: 'discussion', typeId: id"></reply-panel>
                <hr data-bind="visible: comments().length">
                <ul class="media-list" data-bind="foreach: { data: comments, as: 'comment', afterRender: commentRendered }">
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" data-bind="attr: { 'data-src': 'holder.js/48x48?text=' + comment.firstLetter }" alt="48x48" style="width: 48px; height: 48px;">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading" data-bind="html: comment.content" style="word-break: break-all;"></h4>
                            <p class="clearfix">
                                <span class="pull-left">
                                                <span data-bind="text: comment.userName"></span>
                                <span> replies at </span>
                                <span data-bind="text: comment.date"></span>
                                </span>
                                <span class="pull-right">
                                                <a href="javascript:;" data-bind="click: $parent.onToggleSubComment.bind(comment)">
                                                    <i class="fa fa-comment"></i>
                                                    <!-- ko text: comment.commentCount -->
                                                    <!-- /ko -->
                                                </a>
                                            </span>
                            </p>
                            <div data-bind="visible: comment.showSubComment">
                                <div data-bind="foreach:{ data: comment.subCommentList, as: 'sub', afterRender: $parent.commentRendered }">
                                    <div class="media margin-top-15">
                                        <a class="pull-left" href="#">
                                            <img class="media-object" data-bind="attr: { 'data-src': 'holder.js/48x48?text=' + sub.firstLetter }" alt="48x48" style="width: 48px; height: 48px;">
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading" data-bind="html: sub.content"></h4>
                                            <p>
                                                <span class="pull-left">
                                                                <span data-bind="text: sub.userName"></span>
                                                <span> replies at </span>
                                                <span data-bind="text: sub.date"></span>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <reply-panel params="type: 'discussion', typeId: $root.id, parentCommentId: comment.id"></reply-panel>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div data-bind="component: { name: 'kb-pager', params: pager }"></div>
        </div>
    </div>
</div>

<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/Scripts/lib/holder.js",
            "/_Admin/Scripts/components/kbBreadcrumb.js",
            "/_Admin/Scripts/components/kbPager.js",
            "/_Admin/View/Market/Scripts/components/ReplyPanel.js"
        ])
    })()
</script>
<script src="/_Admin/View/Market/Scripts/Kooboo.Market.js"></script>
<script src="/_Admin/View/Market/Discussion/Detail.js"></script>