/.vs/
.vs/
/published/
/packages/


[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Ll]og/
[Oo]bj/

/Kooboo.Web/Minifier/
/Kooboo.Web/AppData/
/Kooboo.Web/Mailing

*.csproj.user
Kooboo.Api/obj/project.assets.json
Kooboo.Api/obj/project.assets.json
Kooboo.Data/obj/project.assets.json
Kooboo.Dom/obj/project.assets.json
Kooboo.HttpServer/src/Kooboo.HttpServer/obj/project.assets.json
Kooboo.IndexedDB/obj/project.assets.json
Kooboo.Lib/obj/project.assets.json
Kooboo.Mail/obj/project.assets.json
Kooboo.Api/obj/project.assets.json
Kooboo.Data/obj/project.assets.json
Kooboo.Dom/obj/project.assets.json
Kooboo.HttpServer/src/Kooboo.HttpServer/obj/project.assets.json
Kooboo.IndexedDB/obj/project.assets.json
Kooboo.Lib/obj/project.assets.json
Kooboo.Mail/obj/project.assets.json
Kooboo.Render/obj/project.assets.json
Kooboo.Search/obj/project.assets.json
Kooboo.Sites/obj/project.assets.json
Kooboo.Web/obj/project.assets.json
