/.vs/
.vs/
/published/
/packages/


[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Ll]og/
[Oo]bj/

/Kooboo.Web/Minifier/
/Kooboo.Web/AppData/
/Kooboo.Web/Mailing

*.csproj.user
*.assets.json
Kooboo.Web/_Admin/Scripts/kooboo-web-editor/kooboo-web-editor.min.js
Kooboo.Web/_Admin/Scripts/lib/vs
*.DS_Store
*.log
