/.vs/
.vs/
.idea/
/published/
/packages/
/tempstore/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Ll]og/
[Oo]bj/
tempstore/
node_modules/
/TempServerTest/
/Kooboo.Web/Minifier/
/Kooboo.Web/_Admin/
/Kooboo.Web/_Admin/index.html
/Kooboo.Web/AppData/
/Kooboo.Web/Mailing
/Kooboo.Web/EmailMarketing
TempServerTest/
\Kooboo.Web\_Admin\index.html
Kooboo.Web\_Admin\index.html

*.csproj.user
*.assets.json
Kooboo.Web/_Admin/Scripts/kooboo-web-editor/kooboo-web-editor.min.js
Kooboo.Web/_Admin/Scripts/lib/vs
*.DS_Store
*.log
*.pubxml.user
*.sonarqube
*.index
*.block
*.data
!*.data/
*.idx
tools/temp*
*/Resources/Raw/Kooboo.zip
*tmp.csproj
UpgradeLog.htm
Kooboo.Data/LastPublish.cs
Kooboo.TemplateCreator/workspace/*