<!-- #layout name=blank -->
<div id="app">
    <div class="page-header">
        <h1 class="title">{{Kooboo.text.common.HTMLblock + ' - ' + lang}}</h1>
    </div>
    <kb-breadcrumb :breads="breads"></kb-breadcrumb>




    <div class="navbar navbar-default">
        <div class="container-fluid">
            <a v-if="tableSelected.length > 0" @click.stop="onDelete" class="btn red navbar-btn">Delete</a>
        </div>
    </div>


    <kb-table :data="tableData" show-select :selected.sync="tableSelected">
        <kb-table-column :label="Kooboo.text.common.name">
            <template v-slot="row">
                <a :href="getUrl(row)" @click.stop style="cursor: pointer"
                >{{ row.name}}</a
                >
            </template>
        </kb-table-column>
        <kb-table-column :label="Kooboo.text.site.multiLang.translationState">
            <template v-slot="row">
                <span :class="getTranslateStatus(row)?'label label-sm label-success':'label label-sm label-default'">{{getTranslateStatus(row)?Kooboo.text.common.yes : Kooboo.text.common.no}}</span>
            </template>
        </kb-table-column>
        <kb-table-column :label="Kooboo.text.common.lastModified">
            <template v-slot="row">
                {{ new Date(row.lastModified).toDefaultLangString()}}
            </template>
        </kb-table-column>
    </kb-table>



</div>


<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/Scripts/components/kbBreadcrumb.js",
            "/_Admin/Scripts/components/kbTable.js",
        ])
    })()
</script>
<script src="/_Admin/View/Multilingual/HtmlBlocks.js"></script>
