<!-- #layout name=blank-->
<div id="app">
  <div class="page-header">
    <h1 class="title">{{ Kooboo.text.common.Contents + ": " + folderName }}</h1>
  </div>
  <kb-breadcrumb :breads="breads"></kb-breadcrumb>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <a v-if="selected.length > 0" @click="onDelete" class="btn red navbar-btn"
        >Delete</a
      >
    </div>
  </div>
  <kb-table :data="tableData" show-select :selected.sync="selected">
    <kb-table-column :label="defaultColumnName">
      <template v-slot="row">
        <a :href="row[defaultColumnName].url" @click.stop
          >{{ row[defaultColumnName].text }}</a
        >
      </template>
    </kb-table-column>
    <kb-table-column :label="Kooboo.text.common.online">
      <template v-slot="row">
        <span :class="['label', row.online.class]">{{ row.online.text }}</span>
      </template>
    </kb-table-column>
    <kb-table-column
      :label="Kooboo.text.common.lastModified"
      prop="lastModified"
    ></kb-table-column>
    <kb-table-column head-class="table-action" body-class="table-action">
      <template v-slot="row">
        <a class="btn btn-sm blue" :href="row.Edit.url" @click.stop>
          {{ row.Edit.text }}
        </a>
      </template>
    </kb-table-column>
  </kb-table>
  <kb-pager
    :page-nr="pager.pageNr"
    :total-pages="pager.totalPages"
    @change="changePage"
  ></kb-pager>
</div>

<script>
  (function() {
    Kooboo.loadJS([
      "/_Admin/Scripts/components/kbTable.js",
      "/_Admin/Scripts/components/kbPager.js",
      "/_Admin/Scripts/components/kbBreadcrumb.js"
    ]);
  })();
</script>
<script src="/_Admin/View/Multilingual/TextContentsByFolder.js"></script>
