<div class="modal fade" data-backdrop="static" v-kb-modal="isShow">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" @click="reset"
          ><i class="fa fa-close"></i
        ></button>
        <h4 class="modal-title"
          >{{ Kooboo.text.component.layoutEditor.position }}</h4
        >
      </div>
      <div class="modal-body">
        <kb-form
          class="form-horizontal"
          :model="model"
          :rules="rules"
          ref="positionForm"
        >
          <kb-form-item prop="name">
            <label class="control-label col-md-3"
              >{{ Kooboo.text.common.name }}</label
            >
            <div class="col-md-9">
              <input type="text" class="form-control" v-model="model.name" />
            </div>
          </kb-form-item>
          <div class="form-group">
            <div class="col-md-9 col-md-offset-3">
              <label class="checkbox-inline">
                <input type="checkbox" v-model="applyOmit" />
                <span
                  >{{ Kooboo.text.component.layoutEditor.replaceOuterTag
                  }}</span
                >
              </label>
            </div>
          </div>
        </kb-form>
      </div>
      <div class="modal-footer">
        <button class="btn green" @click="save"
          >{{ Kooboo.text.common.save }}</button
        >
        <button class="btn gray" @click="reset"
          >{{ Kooboo.text.common.cancel }}</button
        >
      </div>
    </div>
  </div>
</div>
