<div class="form-group">
    <!-- ko if:isMultilingual -->
    <label data-bind="text: fieldName() + ' (' + lang() + ')', css: { 'text-muted': disabled }" class="control-label col-md-3"></label>
    <!-- /ko -->

    <!-- ko if:!isMultilingual() -->
    <label data-bind="text: fieldName(), css: { 'text-muted': disabled }" class="control-label col-md-3"></label>
    <!-- /ko -->

    <div class="col-md-9">
        <div class="row" data-bind="textError: fieldValue">
            <div class="col-md-10 kb-files-picker">
                <div class="file-list">
                    <ul data-bind="foreach:files, visible:files().length">
                        <li>
                            <span data-bind="text: $data.url"></span>
                            <!-- ko if: !$parent.disabled() -->
                            <a href="javascript:;" data-bind="click: $parent.removeFile.bind($parent, $data)">
                                <i class="fa fa-remove"></i>
                            </a>
                            <!-- /ko -->
                        </li>
                    </ul>
                </div>
        
                <input data-bind="value: fieldValue" type="hidden" class="kb-file-grid-value">

                <span data-bind="visible: !disabled()">
                        <a data-bind="click: selectFile, text: Kooboo.text.common.selectFile" class="btn blue kb-file-grid-causer"></a>
                    </span>
            </div>
        </div>
        <!-- ko if: !!tooltip() -->
        <span class="help-block" data-bind="text:tooltip"></span>
        <!-- /ko -->
    </div>
</div>
<kb-file-dialog params="data: fileDialogData, multiple: enableMultiple"></kb-file-dialog>