<div class="form-group">
    <!-- ko if:isMultilingual -->
    <label data-bind="text: fieldName() + ' (' + lang() + ')', css: { 'text-muted': disabled }" class="control-label col-md-3"></label>
    <!-- /ko -->

    <!-- ko if:!isMultilingual() -->
    <label data-bind="text: fieldName(), css: { 'text-muted': disabled }" class="control-label col-md-3"></label>
    <!-- /ko -->

    <div class="col-md-9" style="position: relative">
        <textarea class="tiny-mce" data-isTinyMce="true" data-bind="richeditor: fieldValue || '', attr: { id: _id }, editorConfig: { readonly: disabled() === true }"></textarea>
        <span data-bind="textError: fieldValue" style="position: absolute;">&nbsp;</span>
        <!-- ko if: !!tooltip() -->
        <span class="help-block" data-bind="text:tooltip"></span>
        <!-- /ko -->
    </div>
</div>