<div class="form-group" :class="{'has-error': !kbFormItem.valid}">
  <label
    :class="{ 'text-muted': field.disabled }"
    class="control-label col-md-3"
    >{{ field.fieldName }}</label
  >
  <div class="col-md-9" style="position: relative">
    <textarea
      class="tiny-mce"
      data-isTinyMce="true"
      :id="field._id"
      v-model="kbFormItem.kbForm.model[kbFormItem.prop]"
      v-kb-richeditor="richeditor"
    ></textarea>
    <span v-if="field.tooltip" class="help-block">{{ field.tooltip }}</span>
    <span v-if="!kbFormItem.valid" class="help-block kb-text-error"
      >{{ kbFormItem.msg }}</span
    >
  </div>
</div>
