<div class="form-group">
    <!-- ko if:isMultilingual -->
    <label data-bind="text: fieldName() + ' (' + lang() + ')', css: { 'text-muted': disabled }" class="control-label col-md-3"></label>
    <!-- /ko -->

    <!-- ko if:!isMultilingual() -->
    <label data-bind="text: fieldName(), css: { 'text-muted': disabled }" class="control-label col-md-3"></label>
    <!-- /ko -->

    <div class="col-md-9" style="position: relative;">
        <textarea data-bind="textInput: fieldValue, disable: disabled, textError: fieldValue" class="form-control"></textarea>
        <!-- ko if: !!tooltip() -->
        <span class="help-block" data-bind="text:tooltip"></span>
        <!-- /ko -->
    </div>
</div>