<!-- #layout name=blank-->
<div id="app" v-cloak>
  <div class="page-header">
    <h1 class="title">Customers</h1>
    <div>
      <div class="input-group input-large pull-right">
        <input
          type="text"
          v-model="searchKey"
          @keyup.enter="searchStart"
          class="form-control"
          style="height: 32px;"
          placeholder="Keywords"
        />
        <div class="input-group-btn">
          <button class="btn btn-default" @click="searchStart"
            ><i class="fa fa-search"></i>Search</button
          >
        </div>
      </div>
    </div>
  </div>
  <kb-breadcrumb :breads="breads"></kb-breadcrumb>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <a
        class="btn btn-link disabled navbar-btn"
        v-if="isSearching"
        href="javascript:;"
        >Search result</a
      >
      <a :href="newCustomer" v-else class="btn green navbar-btn"
        >Add Customers</a
      >
      <a v-if="selected.length > 0" @click="onDelete" class="btn red navbar-btn"
        >Delete</a
      >
      <a
        v-if="isSearching"
        href="javascript:;"
        class="btn btn-default navbar-btn pull-right"
        @click="clearSearching"
        ><i class="fa fa-close"></i
      ></a>
    </div>
  </div>
  <kb-table :data="tableData" show-select :selected.sync="selected">
    <kb-table-column label="id">
      <template v-slot="row">
        <a :href="row.id.url" @click.stop style="cursor: pointer">{{
          row.id.text
        }}</a>
      </template>
    </kb-table-column>
    <kb-table-column label="firstName" prop="firstName"></kb-table-column>
    <kb-table-column label="lastName" prop="lastName"></kb-table-column>
    <kb-table-column label="emailAddress" prop="emailAddress"></kb-table-column>
    <kb-table-column label="telephone" prop="telephone"></kb-table-column>
    <kb-table-column label="address" prop="address"></kb-table-column>
    <kb-table-column label="postCode" prop="postCode"></kb-table-column>
    <kb-table-column label="telephone" prop="telephone"></kb-table-column>
    <kb-table-column label="address2" prop="address2"></kb-table-column>
    <kb-table-column label="houseNumber" prop="houseNumber"></kb-table-column>
    <kb-table-column label="city" prop="city"></kb-table-column>
    <kb-table-column label="country" prop="country"></kb-table-column>

    <kb-table-column head-class="table-action" body-class="table-action">
      <template v-slot="row">
        <a class="btn btn-sm blue" :href="row.Edit.url" @click.stop>
          {{ row.Edit.text }}
        </a>
      </template>
    </kb-table-column>
  </kb-table>
  <kb-pager
    :page-nr="pager.pageNr"
    :total-pages="pager.totalPages"
    @change="changePage"
  ></kb-pager>
</div>

<script>
  (function() {
    Kooboo.loadJS([
      "/_Admin/Scripts/components/kbTable.js",
      "/_Admin/Scripts/components/kbBreadcrumb.js",
      "/_Admin/Scripts/components/kbPager.js"
    ]);
  })();
</script>
<script src="/_Admin/View/ECommerce/Customers.js"></script>
