<!DOCTYPE html>
<html>
  <head>
    <title>Kooboo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#0087c2" />
    <script src="/_Admin/Scripts/lib/jquery.min.js"></script>
    <script src="/_Admin/Scripts/KoobooBase.js"></script>
    <script src="/_Admin/Scripts/Kooboo.VersionManager.js"></script>
    <script src="/_Admin/Scripts/Kooboo.BrowserInfo.js"></script>
    <script src="/_Admin/Scripts/lib/knockout.min.js"></script>
    <script src="/_Admin/Scripts/kooboo/text.js"></script>
    <link href="/_Admin/Styles/styles.css" rel="stylesheet" />
    <link href="/_Admin/Styles/custom.css" rel="stylesheet" />
    <link rel="Shortcut Icon" href="/_Admin/Images/favicon.ico" />
    <meta charset="UTF-8" />
  </head>

  <body style="overflow: hidden;">
    <div class="page-loading">
      <div class="content">
        <p><i class="fa fa-spinner fa-spin"></i>Loading...</p>
      </div>
    </div>

    <div id="main">
      <div class="block-fullscreen">
        <div class="block-visual-editor vertical">
          <iframe id="iframe" class="kb-iframe" src="about:blank"></iframe>
        </div>
      </div>
      <kb-media-dialog params="data: mediaDialogData"></kb-media-dialog>
    </div>

  </body>
</html>
<script>
  (function() {
    Kooboo.loadJS([
      "/_Admin/Scripts/lib/lodash.min.js",
      "/_Admin/Scripts/lib/toastr.min.js",
      "/_Admin/Scripts/lib/bootstrap.min.js",
      "/_Admin/Scripts/DataCache.js",
      "/_Admin/Scripts/app.js",
      "/_Admin/Scripts/kobindingsOverride.js",
      "/_Admin/Scripts/Kooboo.Route.js",
      "/_Admin/Scripts/kobindings.js",
      "/_Admin/Scripts/kooboo/EventBus.js",
      "/_Admin/Scripts/kooboo/Guid.js",
      "/_Admin/Scripts/kooboo/NodeType.js",
      "/_Admin/Scripts/kooboo/LanguageManager.js",
      "/_Admin/Scripts/kooboo/DateExtend.js",
      "/_Admin/Scripts/lib/knockout.mapping.min.js",
      "/_Admin/Scripts/lib/tinymce/tinymceInitPath.js",
      "/_Admin/Scripts/lib/tinymce/tinymce.min.js",
      "/_Admin/Scripts/lib/jquery.textarea_autosize.min.js",
      "/_Admin/Scripts/components/kb-media-dialog.js",
      "/_Admin/Scripts/components/kbLabelDialog.js"
    ]);
  })();
</script>
<script type="text/javascript">

  $.ajax("/_api/User/getLanguage?SiteId=" + getQueryString("SiteId")).then(
    function(rsp) {
      Kooboo.LanguageManager.setLang(rsp.model);
      if (navigator.userAgent.toLowerCase().indexOf("chrome") == -1){
        if(rsp.model=="zh"){
          alert("暂不支持在非Chromium内核的浏览器中编辑，请使用Chrome 、Edge Chromium...");
        }else{
          alert("Non-Google kernel browsers are not currently supported, please use Google Chrome, Microsoft Edge Chromium...");
        }
      }
    }
  );

  function getQueryString(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
    var r = window.location.search.substr(1).match(reg);
    if (r != null) return unescape(r[2]);
    return null;
  }

  $(function() {
    var mediaDialogData = ko.observable();
    var script = document.createElement("script");
    script.src =
      "\\_Admin\\Scripts\\kooboo-web-editor\\kooboo-web-editor.min.js";
    var iframe = document.getElementById("iframe");
    var pageUrl = getQueryString("PageUrl");
    if (pageUrl.indexOf("?") > -1) pageUrl += "&";
    else pageUrl += "?";
    pageUrl += "koobooInline=design";
    iframe.setAttribute("src", pageUrl);
    iframe.onload = function() {
      iframe.contentDocument.Kooboo = Kooboo;
      iframe.contentDocument.mediaDialogData = mediaDialogData;
      iframe.contentDocument.parentBody = document.body;
      iframe.contentDocument.__gl = __gl = {};
      iframe.contentDocument.head.appendChild(script);
      
      $(".page-loading").hide();
      ko.applyBindings({ mediaDialogData }, document.getElementById("main"));
    };
  });
</script>
