<!DOCTYPE html>
<html>

<head>
    <title>Kooboo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0087c2">
    <script src="/_Admin/Scripts/lib/jquery.min.js"></script>
    <script src="/_Admin/Scripts/KoobooBase.js"></script>
    <script src="/_Admin/Scripts/Kooboo.VersionManager.js"></script>
    <script src="/_Admin/Scripts/Kooboo.BrowserInfo.js"></script>
    <script src="/_Admin/Scripts/lib/knockout.min.js"></script>
    <script src="/_Admin/Scripts/kooboo/text.js"></script>
    <script src="/_Admin/Scripts/inlineEditor/kooboobase.js"></script>
    <link href="/_Admin/Styles/styles.css" rel="stylesheet" />
    <link href="/_Admin/Styles/custom.css" rel="stylesheet" />

    <!--<link href="/_Admin/Styles/jstree/style.min.css" rel="stylesheet">--> 

    <link rel="Shortcut Icon" href="/_Admin/Images/favicon.ico">
    <meta charset="UTF-8">
</head>
  
<body style="overflow: hidden;">
    <style type="text/css">
        .mce-primary button {
            background-color: #206ea1;
        }
    </style>
    <div class="page-loading">
        <div class="content">
            <p><i class="fa fa-spinner fa-spin"></i>Loading...</p>
        </div>
    </div>
    <div id="main">
        <div class="block-fullscreen">
            <div class="block-visual-editor vertical">
                <div id="kbActionMenu" data-bind="component: { name: 'KoobooActionMenu',params:actionMenuConfig}"></div>

                <iframe id="iframe" class="kb-iframe" src="about:blank"></iframe>
            </div>
        </div>
        <kb-media-dialog params="data: mediaDialogData"></kb-media-dialog>
        <!--<div id="kbMediaGrid" data-kb-type="widgets/MediaGrid/MediaGrid" data-kb-option="_mediagridOption"></div>-->
        <div id="kbPagesPicker" data-kb-type="widgets/PagesPicker/PagesPicker" data-kb-option="_actionMenuOption"></div>
        <kb-label-dialog></kb-label-dialog>
    </div>
</body>

</html>
<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/Scripts/lib/lodash.min.js",
            "/_Admin/Scripts/lib/toastr.min.js",
            "/_Admin/Scripts/lib/jstree.min.js",
            "/_Admin/Scripts/lib/bootstrap.min.js",
            "/_Admin/Scripts/lib/codemirror/lib/codemirror.js",
            "/_Admin/Scripts/lib/codemirror/mode/xml/xml.js",
            "/_Admin/Scripts/lib/codemirror/mode/css/css.js",
            "/_Admin/Scripts/lib/codemirror/mode/javascript/javascript.js",
            "/_Admin/Scripts/lib/codemirror/mode/htmlmixed/htmlmixed.js",
            "/_Admin/Scripts/kobindings.codemirror.js",
            "/_Admin/Scripts/DataCache.js",
            "/_Admin/Scripts/app.js",
            "/_Admin/Scripts/kobindingsOverride.js",
            "/_Admin/Scripts/Kooboo.Route.js",
            "/_Admin/Scripts/kobindings.js",
            "/_Admin/Scripts/kooboo/EventBus.js",
            "/_Admin/Scripts/kooboo/Guid.js",
            "/_Admin/Scripts/kooboo/NodeType.js",
            "/_Admin/Scripts/kooboo/LanguageManager.js",
            "/_Admin/Scripts/kooboo/DateExtend.js",
            "/_Admin/Scripts/lib/knockout.mapping.min.js",
            "/_Admin/Scripts/lib/spectrum/spectrum-custom.js",
            "/_Admin/Scripts/lib/select2.min.js",
            "/_Admin/Scripts/lib/bootstrap-switch/bootstrap-switch.min.js",
            "/_Admin/Scripts/lib/touchspin/jquery.bootstrap-touchspin.min.js",
            "/_Admin/Scripts/lib/tinymce/tinymceInitPath.js",
            "/_Admin/Scripts/lib/tinymce/tinymce.min.js",
            "/_Admin/Scripts/lib/jquery.textarea_autosize.min.js",
            "/_Admin/Scripts/components/kb-media-dialog.js",
            "/_Admin/Scripts/components/kbLabelDialog.js",
        ]);
        Kooboo.loadCSS([
            "/_Admin/Scripts/lib/spectrum/spectrum.css",
            "/_Admin/Styles/select2/select2.css",
            "/_Admin/Scripts/lib/bootstrap-switch/bootstrap-switch.min.css",
            "/_Admin/Scripts/lib/touchspin/jquery.bootstrap-touchspin.min.css",
            "/_Admin/Scripts/lib/codemirror/lib/codemirror.css",
            "/_Admin/Styles/jstree/style.min.css"
        ]);
    })()
</script>
<script type="text/javascript">
    $(function() {
        ko.components.register("KoobooActionMenu", {
            viewModel: Kooboo.actionMenu.KoobooActionMenu,
            template: Kooboo.actionMenu.KoobooActionMenuHtml,
        });
        var jsArr = [
            "/_Admin/Scripts/lib/tinymce/tinymce.min.js",
            "/_Admin/Scripts/inlineEditor/methods/KoobooTinymceEditor.js",
            "/_Admin/Scripts/inlineEditor/KoobooIframe.js",
        ];
        var siteEditor=Kooboo.KoobooSiteEditor("iframe",jsArr);
        siteEditor.start();
    })
</script>