<!--#layout name=default-->
<div id="main" class="offset-top">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="page-header">
                <h1 class="title">Transferring</h1>
            </div>
            <div class="note note-info">
                <p>Transferring, you may leave this page</p>
            </div>
            <div class="progress progress-striped active">
                <div data-bind="text: persentText, style: { width: persentText }" id="progressBar" class="progress-bar progress-bar-info" style="width:0%"></div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Page</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: statusList">
                    <tr>
                        <td data-bind="text: $data.url"></td>
                        <td>
                            <!-- ko if: $data.done -->
                            <i data-bind="visible: $data.done" class="fa fa-check icon-state-success"></i>
                            <!-- /ko -->
                            <!-- ko ifnot: $data.done -->
                            <i data-bind="visible: !$data.done" class="fa fa-spinner fa-spin icon-state-info"></i>
                            <!-- /ko -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/_Admin/View/Sites/Transferring.js"></script>