<!-- #layout name=blank --sideType='market'-->
<div class="page-header">
    <h1 class="title">Purchased</h1>
</div>
<div data-bind="component: { name: 'kb-breadcrumb', params:[{
    name: 'MARKET'
},{
    name: Kooboo.text.common.Apps
    url: Kooboo.Route.App.ListPage
},{
    name: Kooboo.text.common.Purchased
}]}"></div>

<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/Scripts/components/kbBreadcrumb.js",
        ])
    })()
</script>
<script src="/_Admin/View/Market/Scripts/Kooboo.Market.js"></script>
<script src="/_Admin/View/Market/App/Purchased.js"></script>