<div data-bind="modal: isShow" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-bind="click: onHide"><i class="fa fa-close"></i></button>
                <h4 class="modal-title" data-bind="text: Kooboo.text.common.KConfig"></h4>
            </div>
            <div class="modal-body">
                <!-- ko if: items().length -->
                <div data-bind="foreach: items">
                    <div class="form-group">
                        <label class="control-label" data-bind="text: $data.key"></label>
                        <textarea class="form-control autosize" data-bind="value: $data.value"></textarea>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: items().length -->
                <div class="form-group">
                    <p class="form-control-static">No configuration item</p>
                </div>
                <!-- /ko -->
            </div>
            <div class="modal-footer">
                <button class="btn green" data-bind="click: onSave, text: Kooboo.text.common.save"></button>
                <button class="btn gray" data-bind="click: onHide, text: Kooboo.text.common.cancel"></button>
            </div>
        </div>
    </div>
</div>