<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="CmsLang" value="zh" />
		<add key="AllowUsers" value="*"/>
		<add key="DisableMail" value="true"/>
		<add key="port" value="8080"/>
		<add key="proxy" value="true"/>
		<!--<add key="DefaultUser" value="admin, admin"/>  
		<add key="sslport" value="443"/> 
		 <add key="KPrefix" value="valk"/> 
		 <add key="AccountApiUrl" value="http://127.0.0.1:81"/>-->
	</appSettings>
</configuration>