<div data-bind="modal: isShow" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-bind="click: reset" class="close"><i class="fa fa-close"></i></button>
                <h4 class="modal-title">Input</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">Post to</label>
                        <div class="col-md-9">
                            <!--ko if: fields().length > 0 -->

                            <!--/ko -->
                            <!--ko if: fields().length == 0 -->
                            <input type="text" data-bind="value: text, error: text" class="form-control">
                            <!--/ko -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn gray" data-bind="click: reset, text: Kooboo.text.common.cancel"></button>
                <button class="btn green" data-bind="click: save, text: Kooboo.text.common.save"></button>
            </div>
        </div>
    </div>
</div>