<div
  class="modal fade"
  v-kb-modal="modalShow"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button @click="close" type="button" class="close"
          ><i class="fa fa-close"></i
        ></button>
        <h4 class="modal-title"
          >{{ Kooboo.text.component.event[(mode == 'edit' ? 'edit':'add') +
          'Activity'] + ': ' + name }}</h4
        >
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <kb-form
            v-if="settings.length"
            simple
            class="form-horizontal"
            id="activity-config-default"
            :model="model"
            :rules="rules"
            ref="form"
          >
            <kb-form-item
              v-for="(field, index) in settings"
              :key="index"
              :prop="field.prop"
              class="form-group"
            >
              <component :is="field.controlName" :field="field"></component>
            </kb-form-item>
          </kb-form>
          <div v-else class="form-group">
            <p class="form-control-static"
              >{{ Kooboo.text.site.code.noSetting }}</p
            >
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="javascript:;" @click="submit" class="btn green"
          >{{ Kooboo.text.common.save }}</a
        >
        <a href="javascript:;" @click="close" class="btn gray"
          >{{ Kooboo.text.common.cancel }}</a
        >
      </div>
    </div>
  </div>
</div>
