<!-- #layout name=default -->
<div id="main">
    <div class="container">
        <div data-bind="component: { name: 'kb-table', params: tableData }"></div>
        <div data-bind="component: { name: 'kb-pager', params: pager }"></div>
    </div>
</div>
<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/Scripts/tableModel.js",
            "/_Admin/Scripts/components/kbTable.js",
            "/_Admin/Scripts/components/kbPager.js"
        ])
    })()
</script>
<script src="/_Admin/View/Witkey/Scripts/Kooboo.Witkey.js"></script>
<script src="/_Admin/View/Witkey/Demand.js"></script>