<!-- #layout name=default -->

<style>
    #main {
        position: relative;
    }
    
    .user-card {
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 2px;
        margin-bottom: 15px;
    }
    
    .user-detail {
        margin: 10px 0 5px;
    }
    
    .user-avatar {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        line-height: 40px;
        font-weight: 900;
        font-size: 14px;
        text-align: center;
        background: #0087c2;
        border-radius: 50%;
        color: white;
        float: left;
    }
    
    .user-info {
        height: 40px;
        float: left;
    }
    
    .user-info .user-name {
        line-height: 20px;
    }
    
    .user-info .user-balance {
        line-height: 16px;
    }
    
    .content-container {
        margin-bottom: 20px
    }
    
    .content-container h2 {
        margin-top: 0;
    }
    
    .content-container .item {
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 2px;
        margin-bottom: 15px;
        padding: 15px 0;
        cursor: pointer;
        position: relative;
        transition: all 200ms;
        top: 0;
    }
    
    .content-container .item:hover {
        top: -4px;
    }
    
    .content-container .item p:not(.form-control-static) {
        text-overflow: ellipsis;
        max-height: 36px;
        overflow: hidden;
        min-height: 54px;
    }
    
    .content-container .discussion.item p {
        min-height: auto;
    }
    
    .media .icon {
        width: 64px;
        height: 64px;
        text-align: center;
        line-height: 64px;
        background: #eeeeee;
        display: block;
        border-radius: 2px;
        position: relative;
    }
    
    .media .icon i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #aaaaaa;
    }
    
    .section-header a {
        color: inherit;
    }
    
    .section-header .title i {
        margin-left: 8px;
        font-size: 20px;
        position: relative;
        top: -3px;
    }
    
    .section-header .extend i {
        font-size: 18px;
    }
    
    .discussion .item-left {
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid #dedede;
        display: inline-block;
    }
    
    .discussion {
        width: 100%;
        zoom: 1;
        overflow: hidden;
    }
    
    .discussion a {
        color: inherit;
    }
    
    .discussion-heading {
        margin-top: 0;
        margin-bottom: 5px;
        max-width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>
<div id="main">
    <div class="page-header">
        <h1 class="title">Witkey</h1>
    </div>
    <div class="row clearfix">
        <div class="col-md-3 pull-right">
            <div class="user-card clearfix">
                <div class="col-md-12">
                    <div class="user-detail clearfix">
                        <div class="user-avatar" data-bind="text: userName() && userName().split('')[0].toUpperCase()"></div>
                        <div class="user-info">
                            <div class="user-name" data-bind="text: userName"></div>
                        </div>
                    </div>
                    <div class="balance-func">
                        <div class="btn-group btn-group-justified">
                            <a data-bind="attr: { href: Kooboo.Route.Get(Kooboo.Route.Discussion.ListPage,{ type: 'me' }) }" class="btn btn-link">My question</a>
                            <a href="/_Admin/Witkey/Demand" class="btn btn-link">My demand</a>
                            <a href="/_Admin/Witkey/Proposal" class="btn btn-link">My proposals</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-align">
            </div>
            <div id="side-nav" class="hidden-xs hidden-sm">
                <ul class="nav nav-pills nav-stacked affix" style="max-width: 260px;">
                    <li id="nav_discussions" class="active">
                        <a href="#discussions">Discussions</a>
                    </li>
                    <li id="nav_demand">
                        <a href="#demands">Demands</a>
                    </li>
                </ul>
            </div>
            <div></div>
        </div>
        <div class="col-md-9">
            <div class="content-container" id="discussions">
                <h2 class="section-header clearfix">
                    <div class="pull-left title">
                        <a data-bind="attr: { href: Kooboo.Route.Discussion.ListPage }">Discussions<i class="fa fa-chevron-right"></i></a>
                    </div>
                    <div class="pull-right extend">
                        <a href="javascript:;" data-bind="click: onAddDiscussion"><i class="fa fa-plus"></i></a>
                    </div>
                </h2>
                <!-- ko if: discussions().length -->
                <div class="content row clearfix" data-bind="foreach: discussions">
                    <div class="col-md-6">
                        <div class="item clearfix">
                            <div class="col-md-12">
                                <div class="discussion">
                                    <a target="_blank" data-bind="attr: { href: Kooboo.Route.Get(Kooboo.Route.Discussion.DetailPage, { id: $data.id }) }">
                                        <div class="discussion-body">
                                            <h4 class="discussion-heading" data-bind="text: $data.title, attr: { title: title }"></h4>
                                            <div class="clearfix">
                                                <div class="pull-left">
                                                    <span class="item-left" data-bind="text: $data.userName"></span>
                                                    <span class="item-right" data-bind="text: new Date($data.lastModified).toDefaultLangString()"></span>
                                                </div>
                                                <div class="pull-right">
                                                    <span class="item-left"><i class="fa fa-eye"></i>&nbsp;
                                                    <!-- ko text: $data.viewCount -->
                                                    <!-- /ko -->
                                                </span>
                                                    <span class="item-right"><i class="fa fa-comment-o"></i>&nbsp;
                                                    <!-- ko text: $data.commentCount -->
                                                    <!-- /ko -->
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: discussions().length -->
                <div class="content">
                    <div class="well">
                        <h4>No disuccsion found</h4>
                        <p><a href="javascript:;" data-bind="click: onAddDiscussion">Click here</a> to publish your topic.</p>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <div class="content-container" id="demands">
                <h2 class="section-header clearfix">
                    <div class="pull-left title">
                        <a href="javascript:;">Demands<i class="fa fa-chevron-right"></i></a>
                    </div>
                    <div class="pull-right extend">
                        <a href="javascript:;" data-bind="click: onAddDemand"><i class="fa fa-plus"></i></a>
                    </div>
                </h2>
                <!-- ko if: demands().length -->
                <div class="content row clearfix" data-bind="foreach: demands">
                    <div class="col-md-6">
                        <div class="item clearfix">
                            <div class="col-md-12">
                                <div class="discussion">
                                    <button class="close" data-bind="click: $parent.deleteDemand.bind(this, $data.id)"><i class="fa fa-close"></i></button>
                                    <div class="discussion-body">
                                        <a target="_blank" data-bind="attr: { href: $data.url }">
                                            <h4 class="discussion-heading" data-bind="text: $data.title, attr: { title: $data.title }"></h4>
                                        </a>
                                        <ul class="row list-group margin-top-15">
                                            <li class="list-group-item">
                                                <span>Start date:</span>
                                                <span class="badge gray" data-bind="text: $data.startDate"></span>
                                            </li>
                                            <li class="list-group-item">
                                                <span>End date:</span>
                                                <span class="badge gray" data-bind="text: $data.endDate"></span>
                                            </li>
                                            <li class="list-group-item">
                                                <span>Budget:</span>
                                                <span class="badge gray" data-bind="text: $data.budget, attr: { title: $data.currency }"></span>
                                            </li>
                                            <li class="list-group-item">
                                                <span>Required skills:</span>
                                                <!-- ko foreach: { data: $data.skills, as: 'skill' } -->
                                                <span class="badge badge-info" data-bind="text: skill"></span>
                                                <!-- /ko -->
                                            </li>
                                        </ul>
                                        <div class="clearfix">
                                            <div class="pull-left">
                                                <span class="item-left" data-bind="text: $data.userName"></span>
                                                <span class="item-right" data-bind="text: $data.createdTime"></span>
                                            </div>
                                            <div class="pull-right" title="Proposal">
                                                <span class="item-right"><i class="fa fa-users"></i>&nbsp;
                                                    <!-- ko text: $data.proposalCount -->
                                                    <!-- /ko -->
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: demands().length -->
                <div class="content">
                    <div class="well">
                        <h4>No demand found</h4>
                        <p><a href="javascript:;" data-bind="click: onAddDemand">Click here</a> to publish your demand.</p>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>

    <discussion-modal params="isShow: showDiscussionModal"></discussion-modal>
    <demand-modal params="isShow: showDemandModal"></demand-modal>
</div>

<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/View/Witkey/Scripts/components/DiscussionModal.js",
            "/_Admin/View/Witkey/Scripts/components/DemandModal.js"
        ])
    })()
</script>

<script src="/_Admin/View/Witkey/Scripts/Kooboo.Witkey.js"></script>
<script src="/_Admin/View/Witkey/Index.js"></script>