<!-- #layout name=default -->
<div id="main">
    <div class="container">
        <ul class="nav nav-tabs" data-bind="foreach: { data: proposalTypes, as: 'type' }">
            <li data-bind="css: { active: $parent.curType() == type.value }, click: $parent.changeTab.bind(this, $data)">
                <a href="javascript:;" data-toggle="tab" data-bind="text: type.displayName"></a>
            </li>
        </ul>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Demand</th>
                    <th>Budget</th>
                    <th>Duration</th>
                    <th>Created at</th>
                    <!-- ko if: curType() == 'inTheBid' -->
                    <th class="table-action"></th>
                    <th class="table-action"></th>
                    <th class="table-action"></th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="foreach: records">
                <tr>
                    <td data-bind="text: $data.title"></td>
                    <td data-bind="text: $data.budget, attr: { title: $data.currency }"></td>
                    <td data-bind="text: $data.duration"></td>
                    <td data-bind="text: $data.createTime"></td>
                    <!-- ko if: $parent.curType() == 'inTheBid' -->
                    <td>
                        <a class="btn btn-xs btn-default" target="_blank" data-bind="attr: { href: $data.previewUrl() }">
                            <i class="fa fa-eye"></i>
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-xs btn-info" data-bind="click: $parent.onUpdateProposal.bind(this, $data)">
                            <i class="fa fa-pencil"></i>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-xs red" data-bind="click: $parent.onDeleteProposal.bind(this, $data)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                    <!-- /ko -->
                </tr>
            </tbody>
        </table>
        <div data-bind="component: { name: 'kb-pager', params: pager }"></div>
        <proposal-modal params="isShow: showProposalModal, data: showingProposal, mode: proposalViewingMode"></proposal-modal>
    </div>
</div>

<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/View/Witkey/Scripts/components/ProposalModal.js",
            "/_Admin/Scripts/components/kbPager.js"
        ])
    })()
</script>
<script src="/_Admin/View/Witkey/Scripts/Kooboo.Witkey.js"></script>
<script src="/_Admin/View/Witkey/Proposal.js"></script>