.content-container {
    width: 100%;
    margin-top: 40px;
    background: #f7f7f7;
    padding: 20px;
    border: 1px solid #d4d4d4;
}

.error-container {
    height: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    color: #000000;
    position: relative;
}

.error-container .content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error-code {
    font-size: 100px;
    font-weight: bold;
    transform: scaleY(1.1);
    line-height: 80px;
    margin-bottom: 12px;
}

.error-msg {
    font-size: 16px;
}

.description {
    font-size: 14px;
}