<div class="form-group" :class="{'has-error': !kbFormItem.valid}">
  <label
    :class="{ 'text-muted': field.disabled }"
    class="control-label col-md-3"
    >{{ field.fieldName }}</label
  >
  <div class="col-md-9" style="position: relative">
    <input
      v-model.number="kbFormItem.kbForm.model[kbFormItem.prop]"
      :disabled="field.disabled"
      type="number"
      class="form-control"
    />
    <span v-if="field.tooltip" class="help-block">{{ field.tooltip }}</span>
    <span v-if="!kbFormItem.valid" class="help-block kb-text-error">{{
      kbFormItem.msg
    }}</span>
  </div>
</div>
