.floatmenu-convert {}

.floatmenu-convert-childscontainer {
    display: block;
    width: 0%;
    float: right;
    overflow: visible;
}

.floatmenu-convert-childscontainer>div {
    position: absolute;
    display: none;
    width: 150px;
    box-shadow: 0px 0px 3px #cecaca;

    -ms-transform-origin-y: 20%;
    -webkit-transform-origin-y: 20%;
}

.floatmenu-convert-childscontainer>div,
.floatmenu-convert-childscontainer>div>div
{
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.floatmenu-convert-childscontainer-floatleft{
    float: left;
}

.floatmenu-convert-childscontainer-floatleft>div{
    -ms-transform-origin-x:0%;
    -webkit-transform-origin-x:0%;
}

.floatmenu-convert-childscontainer-floatleft>div,
.floatmenu-convert-childscontainer-floatleft>div>div
{
    -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
    -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
    -ms-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
    -o-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
    transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
}

.floatmenu-convert-childscontainer-hover>div {
    display: block;
}