<div class="kb-html-path path">
  <template v-for="($data,$index) in path">
    <a
      v-if="$index == path.length - 1"
      href="javascript:;"
      @click.stop="changeElem($data)"
      @mouseover.stop="hoverElem($data)"
      class="node active"
      >{{$data.text }}</a
    >
    <template v-else>
      <a
        href="javascript:;"
        @click.stop="changeElem($data)"
        @mouseover.stop="hoverElem($data)"
        class="node"
        >{{ $data.text }}</a
      >
      <span>></span>
    </template>
  </template>
</div>
