.kb-html-path {
    background: #F5F5F5;
    border: 1px solid #CCC;
    border-top: none;
}

.kb-html-path a {
    display: inline-block;
    line-height: 20px;
    margin: 0 5px;
    padding: 0 5px;
    text-decoration: none;
}

.kb-html-path a:first-child {
    margin-left: 0;
}

.kb-html-path a:last-child {
    margin-right: 0;
}

.kb-html-path a:hover {
    background: #DDD;
}

.kb-html-path a.active,
.kb-html-path a.hover {
    background: #39F;
    color: #FFF;
}