.kb-html-tree {
    background: #FFF;
    border: 1px solid #CCC;
    height: 230px;
    overflow: auto;
    padding: 10px;
}

.kb-html-tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.kb-html-tree li ul {
    margin-left: 30px;
}

.kb-html-tree .code {
    cursor: pointer;
}

.kb-html-tree .code.hover {
    background: #5BD0FF;
    border-radius: 3px;
    color: #FFF;
}

.kb-html-tree .code.hover .attr-name,
.kb-html-tree .code.hover .attr-value,
.kb-html-tree .code.hover .node-text {
    color: #FFF;
}

.kb-html-tree .code-attr {
    margin-left: 5px;
}

.kb-html-tree .attr-name {
    color: #994500;
}

.kb-html-tree .attr-value {
    color: #1A1AA6;
}