<div class="kb-html-path path">
  <template v-for="($data,$index) in path">
    <a
      v-if="$index == $parent.path.length - 1"
      href="javascript:;"
      @click="changeElem"
      @mouseover="hoverElem"
      class="node active"
      >{{$data.text }}</a
    >
    <template v-else>
      <a
        href="javascript:;"
        @click="changeElem"
        @mouseover="hoverElem"
        class="node"
        >{{ $data.text }}</a
      >
      <span>></span>
    </template>
  </template>
</div>
