<!-- #layout name=blank-->
<div class="page-header">
    <h1 class="title">Test</h1>
</div>
<div data-bind="component: { name: 'kb-breadcrumb', params:[{
    name: 'SITES'
},{
    name: 'DASHBOARD'
},{
    name: Kooboo.text.common.ProductTypes
}]}"></div>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <a href="javascript:;" class="btn navbar-btn green" data-bind="click: onShowFieldEditor">Show</a>
        <a href="javascript:;" class="btn navbar-btn green" data-bind="click: onShowFieldEditor2">Show (with data)</a>
    </div>
</div>
<div data-bind="component: { name: 'kb-field-editor', params: {
    onShow: onFieldModalShow,
    onSave: onFieldSave,
    data: fieldData,
    options: {
        controlTypes: ['textbox','textarea','richeditor','selection','checkbox','radiobox','switch','mediafile','datetime','number'],
        modifiedField: 'isSummaryField',
        modifiedFieldText: Kooboo.text.component.fieldEditor.summaryField,
        showMultilingualOption: true,
        showPreviewPanel: true
    }
}}"></div>
<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/Scripts/kooboo/Guid.js",
            "/_Admin/Scripts/components/kbBreadcrumb.js",
            "/_Admin/Scripts/tableModel.js",
            "/_Admin/Scripts/Kooboo/ControlType.js",
            "/_Admin/Scripts/components/kbFieldEditor.js",
            "/_Admin/Scripts/components/kbFieldValidation.js"
        ]);
    })()
</script>
<script src="/_Admin/View/ECommerce/Product/test.js"></script>