<!-- #layout name=noMenu-->

<!-- <div class="page-header">
    <h1 class="title">E-Commerce setting</h1>
</div>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <a href="javascript:;" class="btn green navbar-btn" data-bind="visible: showEnableBtn, click: enableSites">Enable E-commerce</a>
        <a href="javascript:;" class="btn green navbar-btn" data-bind="visible: showDisableBtn, click: disableSites">Disable E-commerce</a>
    </div>
</div>
<div data-bind="component: { name: 'kb-table', params: tableData }"></div>

<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/Scripts/components/kbTable.js",
            "/_Admin/Scripts/tableModel.js"
        ])
    })()
</script>
<script src="/_Admin/View/Ecommerce.js"></script> -->