<!-- #layout name=blank -->
<div id="app" v-cloak>
  <div class="page-header">
    <h1 class="title">Events</h1>
  </div>
  <kb-breadcrumb :breads="breads"></kb-breadcrumb>
  <kb-table :data="tableData">
    <kb-table-column
      :label="Kooboo.text.common.type"
      prop="type"
    ></kb-table-column>
    <kb-table-column :label="Kooboo.text.site.disk.count">
      <template v-slot="row">
        <span :class="['badge', row.count.class]">{{ row.count.text }}</span>
      </template>
    </kb-table-column>
    <kb-table-column head-class="table-action" body-class="table-action">
      <template v-slot="row">
        <a class="btn btn-sm blue" :href="row.edit.url" @click.stop>
          {{ row.edit.text }}
        </a>
      </template>
    </kb-table-column>
  </kb-table>
</div>

<script>
  (function() {
    Kooboo.loadJS([
      "/_Admin/Scripts/components/kbBreadcrumb.js",
      "/_Admin/Scripts/kooboo/Guid.js",
      "/_Admin/Scripts/components/kbTable.js"
    ]);
  })();
</script>
<script src="/_Admin/View/Events.js"></script>
