<!-- #layout name=blank -->
<div id="app">
  <div class="page-header">
    <h1 class="title">Pages</h1>
  </div>
  <kb-breadcrumb :breads="breads"></kb-breadcrumb>
  <div class="navbar navbar-default">
    <div class="container-fluid">
      <a class="btn green navbar-btn" :href="createNewPageUrl">New page</a>
      <a class="btn green navbar-btn" :href="createNewConntentPageUrl"
        >New rich text page</a
      >
      <div class="btn-group navbar-btn">
        <button class="btn green" data-toggle="dropdown">
          <span>New layout page</span> <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu">
          <li v-for="(item,index) in layouts">
            <a :href="item.href">{{ item.name }}</a>
          </li>
        </ul>
      </div>
      <a class="btn green navbar-btn" @click="showImportModal">Import</a>
      <a
        class="btn green navbar-btn"
        data-bind="click: onShowCopyModal, visible: showCopyBtn"
        >Copy</a
      >
      <a
        data-bind="visible: showDeleteBtn, click: onDelete"
        class="btn red navbar-btn"
        >Delete</a
      >
      <a
        href="javascript:;"
        class="btn btn-default navbar-btn pull-right"
        data-bind="tooltip: Kooboo.text.tooltip.pageRouterManager, tooltipPlacement: 'left', click: onShowRouterManager"
        style="margin-right:0"
        ><i class="fa fa-gear"></i
      ></a>
    </div>
  </div>
  <div
    class="modal fade"
    data-backdrop="static"
    data-keyboard="false"
    ref="importModal"
  >
    <form>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <i class="fa fa-close"></i>
            </button>
            <h4 class="modal-title">Import</h4>
          </div>
          <div class="modal-body">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-md-3">From</label>
                <div class="col-md-9">
                  <label class="radio-inline">
                    <input
                      type="radio"
                      value="url"
                      v-model="importForm.from"
                    />URL</label
                  >
                  <label class="radio-inline">
                    <input
                      type="radio"
                      value="file"
                      v-model="importForm.from"
                    />File</label
                  >
                </div>
              </div>
              <div class="form-group" v-show="importForm.from=='url'">
                <label class="control-label col-md-3">Page URL</label>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Input page URL"
                    v-model.trim="$v.importForm.pageUrl.$model"
                  />
                </div>
              </div>
              <div class="form-group" v-show="importForm.from=='url'">
                <label class="control-label col-md-3">URL</label>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    data-bind="textInput: importBasePath, error: importBasePath"
                    placeholder="Input page path"
                  />
                </div>
              </div>
              <div class="form-group" v-show="importForm.from=='file'">
                <label class="control-label col-md-3">File</label>
                <div class="col-md-9">
                  <a class="btn btn-default btn-file">
                    <input
                      type="file"
                      data-bind="upload: {
                                        allowMultiple: false,
                                        acceptTypes: [
                                            'application/pdf',
                                            'application/msword', 
                                            'application/vnd.openxmlformats-officedocument.wordprocessingml.document', 
                                            'application/vnd.ms-word.document.macroEnabled.12',
                                            'application/msexcel', 
                                            'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
                                            'application/vnd.ms-powerpoint', 
                                            'application/vnd.openxmlformats-officedocument.presentationml.presentation',
                                            'application/x-rar-compressed', 
                                            'application/octet-stream',
                                            'application/x-zip-compressed',
                                            'application/zip',
                                            'application/octet-stream',
                                            'text/html'
                                        ],
                                        acceptSuffix: ['html', 'htm', 'pdf', 'doc', 'docx', 'xls', 'xlsx', 'ppt', 'pptx', 'zip'],
                                        callback: uploadFile
                                    }"
                    />
                    <span>Select file</span>
                  </a>
                  <span>Support types: HTML, PDF, Word, Excel, PPT, ZIP</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              class="btn green"
              v-show="importForm.from=='url'"
              @click="onImportSubmit"
              >Start</button
            >
            <button class="btn gray" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div data-bind="component: { name: 'kb-table', params: tableData }"></div>

<div
  data-bind="modal: showRouterManager"
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-bind="click: hideRouterManager">
          <i class="fa fa-close"></i>
        </button>
        <h4 class="modal-title">Route setting</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="alert alert-info alert-dismissable">
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <i class="fa fa-close"></i>
            </button>
            <strong>Redirect routes</strong>
            <p>
              Set the redirect pages for default home page, 404 and error pages
            </p>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3">Home page</label>
            <div class="col-md-9">
              <select
                data-bind="value: defaultPage, options: IndexRouterSelection, optionsValue: 'id', optionsText: 'path'"
                class="form-control"
              ></select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3">404 page</label>
            <div class="col-md-9">
              <select
                data-bind="value: notFoundPage, options: RouterSelection, optionsValue: 'id', optionsText: 'path'"
                class="form-control"
              ></select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3">Error page</label>
            <div class="col-md-9">
              <select
                data-bind="value: errorPage, options: RouterSelection, optionsValue: 'id', optionsText: 'path'"
                class="form-control"
              ></select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn green" data-bind="click: saveRouterManager">
          Save
        </button>
        <button class="btn gray" data-bind="click: hideRouterManager">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<div data-bind="component: { name: 'kb-relation-modal' }"></div>
<div
  data-bind="modal: copyModal"
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-bind="click: onHideCopyModal">
          <i class="fa fa-close"></i>
        </button>
        <h4
          class="modal-title"
          data-bind="text: Kooboo.text.site.page.copyPage + ': ' + copyPage().name"
        ></h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-md-3">Name</label>
            <div class="col-md-9">
              <input
                type="text"
                data-bind="value: copyName, error: copyName"
                class="form-control"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3">URL</label>
            <div class="col-md-9">
              <input
                type="text"
                data-bind="value: copyRoute, error: copyRoute"
                class="form-control"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button data-bind="click: onStartCopy" class="btn green">Start</button>
        <button data-bind="click: onHideCopyModal" class="btn gray">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
<div
  data-bind="modal: showQRCodeModal"
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-bind="click: hideQRCodeModal">
          <i class="fa fa-close"></i>
        </button>
        <h4
          class="modal-title"
          data-bind="text: Kooboo.text.site.page.previewInMobile"
        ></h4>
      </div>
      <div class="modal-body">
        <div id="qr-code" style="text-align:center"></div>
      </div>
      <div class="modal-footer">
        <button
          data-bind="click: hideQRCodeModal, text: Kooboo.text.common.OK"
          class="btn btn-default"
        ></button>
      </div>
    </div>
  </div>
</div>
<div k-if="kooboosetting.IsLocal=true">
  <input type="hidden" name="local" id="isLocalKooboo" />
</div>
<script>
  (function() {
    Kooboo.loadJS([
      "/_Admin/Scripts/components/kbBreadcrumb.js",
      "/_Admin/Scripts/vue-components/kbBreadcrumb.js",
      "/_Admin/Scripts/tableModel.js",
      "/_Admin/Scripts/kooboo/Guid.js",
      "/_Admin/Scripts/components/kbTable.js",
      "/_Admin/Scripts/components/kbRelationModal.js",
      "/_Admin/Scripts/lib/jquery.qrcode.min.js",
      "/_Admin/Scripts/lib/vuelidate/vuelidate.min.js",
      "/_Admin/Scripts/lib/vuelidate/validators.min.js"
    ]);
  })();
</script>
<script src="/_Admin/View/Pages.js"></script>

<script>
  Vue.use(vuelidate.default);

  new Vue({
    el: "#app",
    data: function() {
      return {
        breads: [
          {
            name: "SITES"
          },
          {
            name: "DASHBOARD"
          },
          {
            name: Kooboo.text.common.Pages
          }
        ],
        model: {},
        importForm: {
          from: "url",
          siteId: Kooboo.getQueryString("SiteId"),
          pageUrl: "1", // self.importPageUrl(),
          name: "" // self.importBasePath()
        }
      };
    },
    validations: {
      importForm: {
        pageUrl: {
          required: validators.required,
          url: validators.url
        }
      }
    },
    computed: {
      createNewPageUrl: function() {
        return Kooboo.Route.Get(Kooboo.Route.Page.EditPage);
      },
      createNewConntentPageUrl: function() {
        return Kooboo.Route.Get(Kooboo.Route.Page.EditRichText);
      },
      layouts: function() {
        var list = [];

        if (this.model.layouts) {
          list = this.model.layouts.map(function(m) {
            return {
              name: m.name,
              href: Kooboo.Route.Get(Kooboo.Route.Page.EditLayout, {
                layoutId: m.id
              })
            };
          });
        }

        if (!list.length) {
          list.push({
            name: Kooboo.text.site.page.createNewLayout,
            href: Kooboo.Route.Get(Kooboo.Route.Layout.Create)
          });
        }

        return list;
      }
    },
    mounted: function() {
      var me = this;
      Kooboo.Page.getAll().then(function(res) {
        if (res.success) {
          me.model = res.model;
        }
      });
    },
    methods: {
      showImportModal: function() {
        $(this.$refs.importModal).modal("show");
      },
      onImportSubmit: function() {}
    }
  });
</script>
