<!-- #layout name=blank-->
<div class="page-header">
    <h1 class="title">Dashboard</h1>
</div>
<div data-bind="component: { name: 'kb-breadcrumb' }"></div>
<div class="row block-dashboard-stat" data-bind="foreach: { data: widgets, afterRender: afterRender }">
    <div class="col-md-4 col-sm-12 col-xs-12 item">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 data-bind="text: $data.title" class="panel-title"></h3>
                <!-- ko if: $data.link -->
                <div class="pull-right">
                    <div class="btn-group">
                        <a class="btn btn-xs btn-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a data-bind="attr: { href: $data.link }">View all</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <div data-bind="html: $data.body" class="panel-body"></div>
        </div>
    </div>
</div>
<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/Scripts/lib/waterfall.min.js",
            "/_Admin/Scripts/components/kbBreadcrumb.js",
            "/_Admin/Scripts/SPA.js"
        ])
    })()
</script>
<script src="/_Admin/View/Site.js"></script>