<!-- #layout name=blank-->
<div id="vuetest" style="height: 100%">




<!--
    <div class="clearfix">
        <kb-button @click="formatCode">格式化代码</kb-button>
        <kb-code-mirror ref="editor" v-model='code' :mode="mode"></kb-code-mirror>
    </div>
-->

</div>

<script>
    Kooboo.loadJS([
        "/_Admin/Scripts/lib/jstree.min.js",
        "/_Admin/Scripts/kb-validate/kb-validate.js"
    ])
    Kooboo.loadCSS([
        "/_Admin/Styles/jstree/style.min.css"
    ])
    Kooboo.loadJS([
        "/_Admin/Scripts/lib/bootstrap3-typeahead.min.js",
        "/_Admin/Scripts/lib/bootstrap-switch/bootstrap-switch.min.js",
    ])
    Kooboo.loadCSS([
        "/_Admin/Scripts/lib/bootstrap-switch/bootstrap-switch.min.css"
    ])



     var validate = Validate;
    validate.register('maxLen', function (value,rule) {
        if(value <= rule.maxLen) {
            return  true
        }
        return false
    });
    validate.register('minLen', function (value,rule) {
        if(value >= rule.minLen) {
            return  true
        }
        return false
    });


     var rules = [
        {name: 'maxLen',rule: {maxLen: 10,message: 'i am maxLen message'}},
        {name: 'minLen',rule: {minLen: 2,message: 'i am test2 message'}}];
     var result1 = validate.minLen({maxLen: 10}).message('i am message').validate(10);
     var result2 = validate.minLen({maxLen: 10}).message('i am message').validate({value1: 10,value2: 8}, true);
     var result3 = validate.setRules(rules).validate(8);
     var result4 = validate.setRules(rules).validate({value1: 10,value2: 8}, true);

    console.log(result1);
    console.log(result2);
    console.log(result3);
    console.log(result4);

     var keyOptions = {
        key1: {name: 'maxLen',rule: {maxLen: 10,message: 'i am maxLen message'}},
        key2: [
            {name: 'maxLen',rule: {maxLen: 10,message: 'i am maxLen message'}},
            {name: 'minLen',rule: {minLen: 2,message: 'i am test2 message'}}]};
     var keyValues = {
        key1: 10,
        key2: 8
    };
     var keyResult = validate.setKeyRules(keyOptions).validate(keyValues);
    console.log(keyResult);


</script>
