<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="CmsLang" value="en" />
		<add key="AllowUsers" value="admin" />
		<add key="AllowOrgs" value="admin" />
		<add key="port" value="80" />
		<add key="proxy" value="true" />
		<add key="DisableJob" value="true" />
		<!-- <add key="MaxNormalExportSize" value="1024"/> -->
		<add key="DefaultUser" value="admin, admin" />
	</appSettings>
</configuration>
