<style>
    .chat .media {
        overflow: initial;
    }
    
    .chat .media .media-body {
        padding: 8px 8px 0;
        width: 50%;
        border-radius: 4px;
        position: relative;
        overflow: initial;
    }
    
    .media-body.pull-right {
        background: #009ad6;
        color: white;
    }
    
    .media-body.pull-right::after {
        content: '';
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-right: 0;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #009ad6;
        position: absolute;
        top: 8px;
        right: -4px;
    }
    
    .media-body.pull-left {
        background: #dedede;
    }
    
    .media-body.pull-left::before {
        content: '';
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-right: 4px solid #dedede;
        border-bottom: 4px solid transparent;
        border-left: 0;
        position: absolute;
        top: 8px;
        left: -4px;
    }
    
    h4.media-heading a {
        color: inherit;
    }
</style>
<div data-bind="modal: isShow" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-bind="click: onHide"><i class="fa fa-close"></i></button>
                <h4 class="modal-title">Chat</h4>
            </div>
            <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
                <ul class="chat media-list" data-bind="foreach: { data: messages, as: 'message', afterRender: rendered }">
                    <li class="media clearfix">
                        <div class="media-body" data-bind="css: { 'pull-right': message.isCurrentUser, 'pull-left': !message.isCurrentUser() }">
                            <h4 class="media-heading" data-bind="visible: message.content, text: message.content"></h4>
                            <h4 class="media-heading" data-bind="visible: message.attachments().length">
                                <!-- ko foreach: message.attachments -->
                                <a data-bind="attr: { href: $data.downloadUrl }" target="_blank" title="Download"><i class="fa fa-paperclip"></i>
                                    <!-- ko text: $data.fileName -->
                                    <!-- /ko -->
                                </a>
                                <!-- /ko -->
                            </h4>
                            <p data-bind="text: 'reply at ' + message.date()"></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <div class="input-group">
                    <input class="form-control" data-bind="value: newMsg, error: newMsg, errorPlacement: 'left'" type="text">
                    <span class="input-group-btn">
                        <button class="btn btn-info" data-bind="click: onSendMsg">Send</button>
                        <button class="btn btn-info btn-file" data-bind="tooltip: 'Upload attcahment'">
                            <i class="fa fa-upload"></i>
                            <input type="file" data-bind="upload: {
                                allowMultiple: false,
                                acceptTypes: ['*/*'],
                                callback: uploadFile
                            }" />
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>