<div data-bind="modal: isShow" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-bind="click: onHide"><i class="fa fa-close"></i></button>
                <h4 class="modal-title" data-bind="text: Kooboo.text.market.changeCurrency"></h4>
            </div>
            <div class="modal-body">
                <div class="row" data-bind="foreach: currencies">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio" data-bind="value: $data.code, checked: $parent.code">
                                <span data-bind="text: $data.code + ' (' + $data.symbol + ')'"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn green" data-bind="text: Kooboo.text.common.change, click: onSave"></button>
                <button class="btn gray" data-bind="text: Kooboo.text.common.cancel, click: onHide"></button>
            </div>
        </div>
    </div>
</div>