<div data-bind="modal: isShow" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-bind="click: onHide"><i class="fa fa-close"></i></button>
                <h4 class="modal-title" data-bind="text: Kooboo.text.component.discussionModal.addDiscussion"></h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label data-bind="text: Kooboo.text.common.title, textError: title"></label>
                        <input type="text" class="form-control" data-bind="value: title">
                    </div>
                    <div class="form-group">
                        <label data-bind="text: Kooboo.text.common.Content, textError: content"></label>
                        <!-- ko if: contentLoaded -->
                        <textarea class="form-control" data-bind="richeditor: content, value: content"></textarea>
                        <!-- /ko -->
                        <!-- ko ifnot: contentLoaded -->
                        <p class="form-control-static" data-bind="text: Kooboo.text.common.loading">Loading</p>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn green" data-bind="text: Kooboo.text.common.save, click: onSave"></button>
                <button class="btn gray" data-bind="text: Kooboo.text.common.cancel, click: onHide"></button>
            </div>
        </div>
    </div>
</div>