<div data-bind="modal: _isShow" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-bind="click: onHide"><i class="fa fa-close"></i></button>
                <h4 class="modal-title" data-bind="text: Kooboo.text.component.objectionModal.objection"></h4>
            </div>
            <div class="modal-body">
                <!-- ko if: mode() == 'preview' -->
                <div class="alert alert-info" data-bind="text: Kooboo.text.component.objectionModal.receiveObjection"></div>
                <!-- /ko -->
                <div class="form-group">
                    <label class="control-label" data-bind="text: Kooboo.text.common.description"></label>
                    <!-- ko if: mode() == 'edit' -->
                    <textarea class="form-control" data-bind="value: description, textError: description"></textarea>
                    <!-- /ko -->
                    <!-- ko if: mode() == 'preview' -->
                    <p class="form-control-static" data-bind="text: description"></p>
                    <!-- /ko -->
                </div>
                <div class="form-group">
                    <label class="control-label" data-bind="text: Kooboo.text.component.objectionModal.contact"></label>
                    <!-- ko if: mode() == 'edit' -->
                    <input type="text" class="form-control" data-bind="value: contact, textError: contact" />
                    <!-- /ko -->
                    <!-- ko if: mode() == 'preview' -->
                    <p class="form-control-static" data-bind="text: contact"></p>
                    <!-- /ko -->
                </div>
            </div>
            <div class="modal-footer">
                <!-- ko if: mode() == 'edit' -->
                <button class="btn green" data-bind="text: Kooboo.text.site.form.submit, click: onSubmit"></button>
                <button class="btn gray" data-bind="text: Kooboo.text.common.cancel, click: onHide"></button>
                <!-- /ko -->
                <!-- ko if: mode() == 'preview' -->
                <button class="btn btn-default" data-bind="text: Kooboo.text.common.OK, click: onHide"></button>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>