<div data-bind="modal: isShow" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-bind="click: onHide"><i class="fa fa-close"></i></button>
                <h4 class="modal-title" data-bind="text: name"></h4>
                <div>Supplier: <span data-bind="text: supplierName"></span></div>  
                
               
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Remark</label>
                    <textarea style="min-height:20px" class="form-control" rows="3" data-bind="value: remark"></textarea>
                </div>
                
                <div class="form-group">
                    <label>Attachments</label>
                    <div class="form-inline">
                        <div class="form-group">
                            <button class="btn btn-info btn-file">
                                <input type="file" data-bind="upload: {
                                    allowMultiple: false,
                                    acceptTypes: ['*/*'],
                                    callback: uploadFile
                                }" />Upload</button>
                        </div>
                        <div class="form-group">
                            <p class="form-control-static">
                                <!-- ko foreach: attachments -->
                                <button class="btn btn-default">
                                    <!-- ko text: $data.fileName -->
                                    <!-- /ko -->
                                    <i class="fa fa-close" data-bind="click: $parent.removeFile.bind(this, $data)"></i>
                                </button>
                                <!-- /ko -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn green" data-bind="click: onOrder">Order</button>
                <button class="btn gray" data-bind="text: Kooboo.text.common.cancel, click: onHide"></button>
            </div>
        </div>
    </div>
</div>