<div class="reply-panel">
    <div class="form-group" data-bind="attr: { 'id': typeId }">
        <textarea data-bind="textInput: content, textError: content" class="form-control autosize margin-bottom-15" placeholder="Reply content goes here" style="min-height: 50px;"></textarea>
    </div>
    <div class="form-group">
        <!-- ko if: type() == 'delivery' -->
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-info" data-bind="click: onReply">Send</button>
                <button class="btn btn-info btn-file" data-bind="tooltip: 'Upload attcahment'">
                    <i class="fa fa-upload"></i>
                    <input type="file" data-bind="upload: {
                        allowMultiple: false,
                        acceptTypes: ['*/*'],
                        callback: uploadFile
                    }" />
                </button>
            </span>
        </div>
        <!-- /ko -->
        <!-- ko if: type() !== 'delivery' -->
        <button class="btn blue" data-bind="click: onReply, enable: ableToReply">Reply</button>
        <!-- /ko -->
    </div>
</div>