/* kb_web_editor */
.kb_web_editor_div {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #5f5f5f;
  border: none;
  outline: none;
  display: block;
  position: static;
  background-color: rgba(255, 255, 255, 0);
  font-weight: 400;
  line-height: 1.2;
}

.kb_web_editor_input {
  border-radius: 3px;
  line-height: 24px;
  padding: 5px 4.75px;
  color: #5f5f5f;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  height: 36px;
  box-shadow: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.kb_web_editor_label_input {
  display: inline-block;
  width: 100%;
  height: 36px;
  position: relative;
  margin: 3px 0;
}

.kb_web_editor_label_input > .kb_web_editor_div:nth-child(1) {
  display: inline-block;
  position: absolute;
  left: 0;
  line-height: 36px;
  text-align: right;
  padding-right: 5px;
  width: 80px;
}

.kb_web_editor_label_input > .kb_web_editor_div:nth-child(2) {
  display: inline-block;
  position: absolute;
  left: 85px;
  right: 0;
  top: 0;
  bottom: 0;
}

.kb_web_editor_label_input > .kb_web_editor_div:nth-child(2) > input {
  width: 100%;
  height: 100%;
}

.kb_web_editor_btn {
  font-weight: 700;
  border-radius: 3px;
  font-size: 14px;
  line-height: 24px;
  margin: 4px;
  padding: 4px 16px;
  outline: none;
  background-color: #f0f0f0;
  border: none;
  display: inline-flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.kb_web_editor_radio_input {
  width: 100%;
  line-height: 24px;
  padding: 5px 4.75px;
  font-size: 16px;
  word-wrap: break-word;
  display: flex;
  margin: 0;
  cursor: pointer;
  border-bottom: 1px rgb(238, 238, 238) solid;
}

.kb_web_editor_radio_input:hover {
  background-color: #e3e3e3;
}

.kb_web_editor_radio_input > .kb_web_editor_div {
  line-height: 36px;
  font-size: 16px;
  display: inline-block;
}

.kb_web_editor_radio_input > input {
  margin: 0 5px;
  pointer-events: none;
  position: static;
  opacity: 1;
}

.kb_web_editor_btn:hover {
  background-color: #e3e3e3;
}

.kb_web_editor_btn_primary,
.pcr-save {
  background-color: #207ab7;
  color: #fff;
}

.kb_web_editor_btn_primary:hover,
.pcr-save:hover {
  background-color: #1c6ca1;
}

.kb_action_bar_btn {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-bottom: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

.kb_action_bar_btn:hover {
  background-color: #eee;
}

.kb_web_editor_menu {
  position: absolute;
  width: 150px;
  min-height: 50px;
  border-radius: 3px;
  font-size: 12px;
  opacity: 0.9;
  overflow: hidden;
  box-shadow: 0 0 3px #ddd;
  background-color: #fff;
  display: none;
}

.kb_web_editor_menu_title {
  padding: 5px 10px;
  color: #fff;
  background-color: rgb(2, 154, 214);
  line-height: 18px;
}

.kb_web_editor_menu_title > .kb_web_editor_div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 18px;
  width: 18px;
  float: right;
  margin-left: 8px;
}

.kb_web_editor_menu_item {
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
  cursor: default;
  font-size: 12px;
}

.kb_web_editor_menu_item:hover {
  background-color: #eee;
}

.kb_web_editor_iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.kb_web_editor_image_preview {
  outline: 5px solid #eee;
  margin: 5px;
  height: 300px;
  width: 400px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kb_web_editor_image_preview > :nth-child(1) {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.kb_web_editor_image_preview > .kb_web_editor_btn {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  background-color: #eee;
  border-radius: 24px;
  z-index: 10;
}

.kb_web_editor_image_preview > .kb_web_editor_btn :hover {
  background-color: #fff;
}

.kb_web_editor_pick_shade {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.384);
  opacity: 0;
  transition: 0.3s;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.kb_web_editor_pick_shade:hover {
  opacity: 1;
  cursor: pointer;
}

.kb_web_editor_modal {
  background-color: rgba(255, 255, 255, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

.kb_web_editor_modal_window {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  box-shadow: 0 0 10px 1px rgba(34, 47, 62, 0.15);
  width: 60%;
  position: relative;
  margin: 40px auto;
}

.kb_web_editor_modal_body {
  padding: 3px 16px;
  max-height: 80%;
  overflow: auto;
}

.kb_web_editor_modal_footer {
  border-top: 1px solid #eee;
  text-align: right;
  padding: 10px;
  margin-top: 10px;
}

.kb_web_editor_modal_header {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  font-style: normal;
  padding: 16px;
  cursor: move;
  position: relative;
}
.kb_web_editor_modal_header > .kb_web_editor_div {
  position: absolute;
  background-repeat: no-repeat;
  right: 15px;
  top: 15px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.kb_web_editor_global_link_editor_item {
  border-bottom: 1px solid #eee;
  position: relative;
}

.kb_web_editor_global_link_editor_item > .kb_web_editor_div {
  word-break: break-all;
  font-size: 16px;
  line-height: 40px;
  min-height: 40px;
  padding-right: 80px;
}

.kb_web_editor_global_link_editor_item > .kb_web_editor_btn {
  border-radius: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.kb_web_editor_element_nav_bar {
  position: fixed;
  display: inline;
  top: 10px;
  right: 25px;
  background-color: #5f5f5f;
  color: #fff;
  opacity: 0.7;
  padding: 5px;
  border-radius: 5px;
  display: none;
  cursor: move;
}

.kb_web_editor_element_nav_bar > .kb_web_editor_div {
  color: #fff;
  display: inline-block;
  padding: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.kb_web_editor_action_bar_notice {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  opacity: 0.8;
  visibility: hidden;
}

.kb_web_editor_shade_close_btn {
  position: fixed;
  top: 25px;
  right: 25px;
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
}

.kb_web_editor_checkobx_input {
  display: flex;
  align-items: center;
}

.kb_web_editor_color_picker {
  display: inline-flex;
  align-items: center;
}
.kb_web_editor_color_picker > * {
  padding-right: 5px;
}

.kb_web_editor_coloreditor_item {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.kb_web_editor_coloreditor_item_check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.kb_web_editor_coloreditor_item_check > * {
  margin: 0px;
}

.kb_web_editor_edit_data_item {
  border-top: 1px solid #eee;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 30px;
  position: relative;
}

.kb_web_editor_edit_data_item > .kb_web_editor_div {
  width: 100%;
  padding-right: 30px;
  overflow-x: auto;
  overflow-y: hidden;
}

.kb_web_editor_edit_data_item > .kb_web_editor_btn {
  width: 15px;
}

.kb_web_editor_container {
  all: unset !important;
}

.kb_web_editor_root {
  word-break: break-all;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  font-variant: normal;
  line-height: 16px;
}

.pcr-palette:before,
.pcr-current-color:before {
  opacity: 0.3;
}

.pcr-app .pcr-interaction .pcr-save {
  background-color: #207ab7 !important;
  color: #fff !important;
}
.pcr-app .pcr-interaction .pcr-cancel {
  background-color: #e3e3e3 !important;
  color: #5f5f5f !important;
}
