<kb-modal :show='showModal' :config='modalConfig' @close='onClose'>
    <div class="table-responsive" slot="body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Remark</th>
                    <th class="table-action">Edit</th>
                </tr>
            </thead>
            <tbody>
                <template v-if='relations.length'>
                    <tr v-for='rel in relations'>
                        <td>
                            <a :href="rel.url" target="_blank">{{ rel.name }}</a>
                        </td>
                        <td>{{ rel.remark || '-' }}</td>
                        <td>
                            <a v-if='rel.editUrl' :href="rel.editUrl" class="btn btn-xs blue" target="_blank"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                </template>
                <template v-else>
                    <tr>
                        <td colspan="3" class="text-center">Empty</td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</kb-modal>