<?xml version="1.0" encoding="utf-8"?>
<kscriptconfig>
  <extensiondlls>KioskTest,Kiosk.Setting</extensiondlls>
  <kscripts>
    <kscript namespace="valk.service" value="KioskTest.IApplicationService" />
    <kscript namespace="valk.abc.cbd" name="newtest" value="KioskTest.Test" />
  </kscripts>
  <kcontext>Kiosk.Setting.KioskDataContext</kcontext>
  <!--<kcontext>
    <krequest>KioskTest.KioskRequest</krequest>
    <kresponse>KioskTest.KioskResponse</kresponse>
  </kcontext>-->
  <setting>Kiosk.Setting.IKioskSetting</setting>
</kscriptconfig>