<!-- #layout name=default -->
<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Supplier</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Supplier</label>
                                    <p class="form-control-static" data-bind="text: username"></p>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Expertise</label>
                                    <p class="form-control-static">
                                        <!-- ko foreach: expertises -->
                                        <label class="label label-sm label-info" data-bind="text: $data.name, attr: { title: $data.description }"></label>
                                        <!-- /ko -->
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <p data-bind="html: introduction"></p>
                    </div>
                </div>
                <ul class="nav nav-tabs" id="expertises" data-bind="foreach: expertises">
                    <li data-bind="css: { active: $index() == 0 }">
                        <a data-toggle="tab" data-bind="text: $data.name, attr: { href: '#exp_' + $index() }"></a>
                    </li>
                </ul>
                <div class="tab-content form-horizontal" data-bind="foreach: expertises">
                    <div class="tab-pane fade" data-bind="attr: { id: 'exp_' + $index() }, css: { 'active in': $index() == 0 }">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Price</label>
                            <div class="col-md-10">
                                <p class="form-control-static">
                                    <label class="label label-sm label-info" data-bind="text: $data.symbol() + $data.price(), attr: { title: $data.currency()}"></label>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Description</label>
                            <div class="col-md-10">
                                <div class="well" data-bind="html: $data.description"></div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-info" data-bind="click: $parent.onOrder.bind(this, $data), visible: !$parent.isOwner()">Order</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Orders</h3>
                    </div>
                    <div class="panel-body"></div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Expertise</th>
                                <th>User</th>
                                <!-- ko if: isOwner -->
                                <th class="table-action">Accept</th>
                                <th class="table-action">Deny</th>
                                <!-- /ko -->
                                <!-- ko ifnot: isOwner -->
                                <th class="table-action">Finished</th>
                                <th class="table-action">Unfinished</th>
                                <!-- /ko -->
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: orders">
                            <tr>
                                <td data-bind="text: $data.expertise"></td>
                                <td data-bind="text: $data.userName"></td>
                                <!-- ko if: $parent.isOwner -->
                                <!-- ko if: $data.status.value == 'Pending' -->
                                <td>
                                    <button class="btn btn-xs btn-info" data-bind="click: $parent.onAcceptOrder.bind(this, $data, true)"><i class="fa fa-check"></i></button>
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-danger" data-bind="click: $parent.onAcceptOrder.bind(this, $data, false)"><i class="fa fa-close"></i></button>
                                </td>
                                <!-- /ko -->
                                <!-- ko ifnot: $data.status.value == 'Pending' -->
                                <td class="text-center" colspan="2" data-bind="text: $data.status.displayName"></td>
                                <!-- /ko -->
                                <!-- /ko -->

                                <!-- ko ifnot: $parent.isOwner -->
                                <!-- ko if: $data.status.value == 'Accepted' -->
                                <td>
                                    <button class="btn btn-xs btn-info" data-bind="click: $parent.onFinishOrder.bind(this, $data, true)"><i class="fa fa-check"></i></button>
                                </td>
                                <td>
                                    <button class="btn btn-xs btn-info" data-bind="click: $parent.onFinishOrder.bind(this, $data, false)"><i class="fa fa-close"></i></button>
                                </td>
                                <!-- /ko -->
                                <!-- ko ifnot: $data.status.value == 'Accepted' -->
                                <td class="text-center" colspan="2" data-bind="text: $data.status.displayName"></td>
                                <!-- /ko -->
                                <!-- /ko -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/_Admin/View/Witkey/Scripts/Kooboo.Witkey.js"></script>
<script src="/_Admin/View/Witkey/Supplier/Detail.js"></script>