<!-- #layout name=empty -->
<div class="page-loading" style="display: none;">
    <div class="content">
        <p><i class="fa fa-spinner fa-spin"></i> <span>Logging in...</span></p>
    </div>
</div>
<div class="container" id="app" kv-el>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="block-small-form">
                <div class="logo">
                    <img src="/_admin/Images/logo-blue.png" alt="Logo">
                </div>
                <div class="tab-content">
                    <div id="tab_account_login" class="tab-pane fade active in">

                        <form kv-submit="/user/login" method="post" kv-model="user">
                            <div class="form-group" :class="{ 'has-error': $v.user.userName.$error }">
                                <label class="sr-only">Username</label>
                                <input class="form-control" type="text" v-model='user.userName' placeholder="Username" />
                                <div v-if="$v.user.userName.$error">
                                    <span class="help-block"  v-for='error in $v.user.userName.$params.rules.errors' v-text='error'></span>
                                </div>
                            </div>                       
                            <div class="form-group" :class="{ 'has-error': $v.user.password.$error }">
                                <label class="sr-only">Password</label>
                                <input class="form-control" type="password" v-model='user.password' placeholder="Password" />
                                <div v-if="$v.user.password.$error">
                                    <span class="help-block" v-for='error in $v.user.password.$params.rules.errors' v-text='error'></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" v-model='user.remember' />Keep me signed in</label>
                                </div>
                            </div>
                            <button class="btn blue" type="submit">Sign in</button>
                            <p>
                                <a >Forgot password?</a>
                            </p>
                            <p>
                                <span >Do not have an account?</span> <a>Create an account</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/_Admin/Scripts/vue/vue.js"></script>
<script src="/_Admin/Scripts/vue/VueExtend.js"></script>
<script src="/_Admin/Scripts/vue/validation/vuelidate.min.js"></script>
<script src="/_Admin/Scripts/vue/validation/validators.min.js"></script>
<script src="/_Admin/Scripts/vue/validation/validateExtend.js"></script>

<script>

    Vue.kExtend({
        el:"#app",
        methods:{
            test:function(){
                alert("test extend");
            },
            loginCallBack:function(res){
                if(res.success){
                    location.href=res.model;
                }
            }
        },
        
    })
</script>

