<!-- #layout name=default -->
<style>
    .list .item {
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 2px;
        margin-bottom: 15px;
        padding: 15px 0;
        cursor: pointer;
        position: relative;
    }
    
    .list .item p {
        text-overflow: ellipsis;
        max-height: 36px;
        overflow: hidden;
        min-height: 54px;
    }
    
    .list .discussion.item p {
        min-height: auto;
    }
    
    .discussion .item-left {
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid #dedede;
        display: inline-block;
    }
    
    .discussion {
        width: 100%;
        zoom: 1;
        overflow: hidden;
    }
    
    .discussion a {
        color: inherit;
    }
    
    .discussion-heading {
        margin-top: 0;
        margin-bottom: 5px;
        word-break: break-all;
    }
    
    .item .operation {
        width: 100px;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        background: linear-gradient(to right, transparent, white 30%, white);
    }
    
    .item:hover .operation {
        display: block;
    }
    
    .operation .wrapper {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-15%, -50%);
    }
</style>
<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12">
                <div class="row">
                    <div class="page-header">
                        <h1 class="title">Discussion</h1>
                        <div class="pull-right">
                            <!-- ko if: isUserList -->
                            <button class="btn blue" data-bind="click: onViewType.bind(this, 'all')">View all post</button>
                            <!-- /ko -->
                            <!-- ko ifnot: isUserList -->
                            <button class="btn blue" data-bind="click: onViewType.bind(this, 'me')">View my post</button>
                            <!-- /ko -->
                            <button class="btn btn-default" data-bind="click: onShowDiscussionModal"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="list" data-bind="foreach: list">
                            <div class="item row">
                                <div class="col-md-12">
                                    <div class="discussion">
                                        <a data-bind="attr: { href: Kooboo.Route.Get(Kooboo.Route.Discussion.DetailPage, { id: $data.id }) }">
                                            <div class="discussion-body">
                                                <h4 class="discussion-heading" data-bind="text: $data.title, attr: { title: $data.title }"></h4>
                                                <div class="clearfix">
                                                    <div class="pull-left">
                                                        <span class="item-left" data-bind="text: $data.userName"></span>
                                                        <span class="item-right" data-bind="text: new Date($data.lastModified).toDefaultLangString()"></span>
                                                    </div>
                                                    <div class="pull-right">
                                                        <span class="item-left"><i class="fa fa-eye"></i>&nbsp;
                                                        <!-- ko text: $data.viewCount -->
                                                        <!-- /ko -->
                                                    </span>
                                                        <span class="item-right"><i class="fa fa-comment-o"></i>&nbsp;
                                                        <!-- ko text: $data.commentCount -->
                                                        <!-- /ko -->
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- ko if: $parent.isUserList() -->
                                <div class="operation">
                                    <div class="wrapper">
                                        <button class="btn btn-xs blue" data-bind="click: $parent.onEdit.bind($data)"><i class="fa fa-pencil"></i></button>
                                        <button class="btn btn-xs red" data-bind="click: $parent.onDelete.bind($data)"><i class="fa fa-close"></i></button>
                                    </div>
                                </div>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-bind="component: { name: 'kb-pager', params: pager }"></div>
    <div data-bind="component: { name: 'discussion-modal', params: {
        isShow: showDiscussionModal,
        data: editContent
    }}"></div>
</div>

<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/Scripts/lib/tinymce/tinymceInitPath.js",
            "/_Admin/Scripts/lib/tinymce/tinymce.min.js",
            "/_Admin/Scripts/kobindings.richeditor.js",
            "/_Admin/Scripts/kobindings.textError.js",
            "/_Admin/Scripts/components/kbPager.js",
            "/_Admin/View/Witkey/Scripts/components/DiscussionModal.js"
        ])
    })()
</script>
<script src="/_Admin/View/Witkey/Scripts/Kooboo.Witkey.js"></script>
<script src="/_Admin/View/Witkey/Discussion/Index.js"></script>