<!-- #layout name=default-->
<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" data-bind="text: title"></h3>
                        <div class="panel-actions">
                            <!-- ko if: isOwner() && isOpening() -->
                            <button class="btn btn-xs btn-info" data-bind="click: onUpdateDemand"><i class="fa fa-pencil"></i></button>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="panel-body">
                        <div data-bind="html: description" class="margin-bottom-20"></div>
                        <div class="form-group" data-bind="visible: attachments().length">
                            <label>Attachments</label>
                            <p class="form-control-static" data-bind="foreach: attachments">
                                <a data-bind="attr: { href: $data.downloadUrl }" target="_blank">
                                    <i class="fa fa-paperclip"></i>
                                    <!-- ko text: $data.fileName -->
                                    <!-- /ko -->
                                </a>
                            </p>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Demand owner</label>
                                    <p class="form-control-static" data-bind="text: userName"></p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Budget</label>
                                    <p class="form-control-static" data-bind="text: budget, attr: { title: currency }"></p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Duration</label>
                                    <p class="form-control-static" data-bind="text: duration"></p>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Required skills</label>
                                    <p class="form-control-static">
                                        <!-- ko foreach: skills -->
                                        <label class="label label-sm label-info" data-bind="text: $data"></label>
                                        <!-- /ko -->
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Status</label>
                                    <p class="form-control-static" data-bind="text: displayStatus"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Comment</h3>
                    </div>
                    <div class="panel-body">
                        <!-- ko ifnot: isOpening -->
                        <div class="well text-center">
                            <p><i class="fa fa-ban"></i> <span>This demand is not tendering now, you can't comment.</span></p>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: isOpening -->
                        <reply-panel params="type: 'demand', typeId: id"></reply-panel>
                        <!-- /ko -->
                        <div data-bind="visible: publicCommentList().length">
                            <hr>
                            <ul class="media-list" data-bind="foreach: { data: publicCommentList, as: 'public', afterRender: commentRendered }">
                                <li class="media">
                                    <a href="javascript:;" class="pull-left">
                                        <img class="media-object" data-bind="attr: { 'data-src': 'holder.js/48x48?text=' + public.firstLetter }" alt="48x48" style="width: 48px; height: 48px;">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading" data-bind="html: public.content"></h4>
                                        <p class="clearfix">
                                            <span class="pull-left">
                                                <span data-bind="text: public.userName"></span>
                                            <span> comments at </span>
                                            <span data-bind="text: public.date"></span>
                                            </span>
                                            <span class="pull-right">
                                                <a href="javascript:;" data-bind="click: $parent.onToggleSubComment.bind(public)">
                                                    <i class="fa fa-comment"></i>
                                                    <!-- ko text: public.commentCount -->
                                                    <!-- /ko -->
                                                </a>
                                            </span>
                                        </p>
                                        <div data-bind="visible: public.showSubComment">
                                            <div data-bind="foreach:{ data: public.subCommentList, as: 'sub', afterRender: $parent.commentRendered }">
                                                <div class="media margin-top-15">
                                                    <a class="pull-left" href="#">
                                                        <img class="media-object" data-bind="attr: { 'data-src': 'holder.js/48x48?text=' + sub.firstLetter }" alt="48x48" style="width: 48px; height: 48px;">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading" data-bind="html: sub.content"></h4>
                                                        <p>
                                                            <span class="pull-left">
                                                                <span data-bind="text: sub.userName"></span>
                                                            <span> replies at </span>
                                                            <span data-bind="text: sub.date"></span>
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <!-- ko if: $root.isOpening -->
                                            <reply-panel params="type: 'demand', typeId: $root.id, parentId: public.id"></reply-panel>
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Proposals</h3>
                    </div>
                    <div class="panel-body">

                        <!-- ko if: !isOwner() -->

                        <!-- ko if: isOpening -->
                        <!-- ko if: isProposalUser -->
                        <div class="btn-group btn-group-justified">
                            <a href="javascript:;" class="btn btn-default" data-bind="click: onShowChatModal">Chat with owner</a>
                        </div>
                        <!-- /ko -->
                        <!-- ko ifnot: isProposalUser -->
                        <div class="form-group">
                            <button class="btn btn-block blue" data-bind="click: onShowProposalModal">Make a bid</button>
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->

                        <!-- ko if: isTaken -->
                        <!-- ko if: successfulBidding -->
                        <button class="btn btn-block btn-default" data-bind="click: onShowChatModal">
                            <i class="fa fa-comments-o"></i>
                            <span>Chat with owner</span>
                        </button>
                        <!-- /ko -->
                        <!-- ko ifnot: successfulBidding -->
                        <div class="well well-sm text-center">
                            <p><i class="fa fa-ban"></i> <span>Sorry, you have not won the bid.</span></p>
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->

                        <!-- ko if: isDemandClosed -->
                        <button class="btn btn-block btn-default" data-bind="click: onShowObjectionModal">
                            <i class="fa fa-user-md"></i>
                            <span>Custom service</span>
                        </button>
                        <!-- /ko -->

                        <!-- ko if: isDemandInvalid -->
                        <div class="well well-sm text-center">
                            <p>This demand is expired.</p>
                        </div>
                        <!-- /ko -->

                        <!-- /ko -->

                        <!-- ko if: isOwner -->

                        <!-- ko if: isTaken -->
                        <a href="javascript:;" class="btn btn-default btn-block margin-bottom-15" data-bind="click: onShowProposalChatModal.bind(this, null)">
                            <i class="fa fa-comments-o"></i>
                            <span>Chat with the bidder</span>
                        </a>
                        <div class="btn-group btn-group-justified">
                            <a href="javascript:;" class="btn btn-info" data-bind="click: onFinishTheDemand.bind(this, true)">
                                <i class="fa fa-check"></i>
                                <span>Accept</span>
                            </a>
                            <a href="javascript:;" class="btn btn-info" data-bind="click: onFinishTheDemand.bind(this, false)">
                                <i class="fa fa-close"></i>
                                <span>Reject</span>
                            </a>
                        </div>
                        <!-- /ko -->

                        <!-- ko if: isDemandClosed -->
                        <div class="well well-sm text-center">
                            <p>This demand is <span data-bind="text: displayStatus"></span></p>
                        </div>
                        <!-- /ko -->

                        <!-- ko if: isDemandInvalid -->
                        <div class="well well-sm text-center">
                            <p>This demand is expired.</p>
                        </div>
                        <!-- /ko -->

                        <!-- /ko -->
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Bidder</th>
                                <th>Duration</th>
                                <th>Budget</th>
                                <!-- ko if: isOwner() && isOpening()-->
                                <th class="table-action"></th>
                                <th class="table-action"></th>
                                <th class="table-action"></th>
                                <!-- /ko -->
                                <!-- ko if: !isOwner() && isOpening() && isProposalUser() -->
                                <th class="table-action"></th>
                                <!-- ko ifnot: isSelectedProposal -->
                                <th class="table-action"></th>
                                <!-- /ko -->
                                <!-- /ko -->
                            </tr>
                        </thead>
                        <tbody data-bind="visible: proposals().length, foreach: proposals">
                            <tr data-bind="css: { success: $data.isTaken }">
                                <td data-bind="text: $data.userName"></td>
                                <td data-bind="text: $data.duration"></td>
                                <td data-bind="text: $data.budget, attr: { title: $data.currency }"></td>
                                <!-- ko if: $parent.isOwner() && $parent.isOpening() -->
                                <td class="text-right">
                                    <button class="btn btn-xs btn-block btn-default" data-bind="click: $parent.onShowProposalChatModal.bind(this, $data), tooltip: 'Chat with ' + $data.userName"><i class="fa fa-comment-o"></i></button>
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-xs btn-default" data-bind="click: $parent.onViewProposalDetail.bind(this, $data), tooltip: 'View proposal detail'"><i class="fa fa-eye"></i></button>
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-xs btn-info" data-bind="click: $parent.onAcceptProposal.bind(this, $data), tooltip: 'Accept this proposal'"><i class="fa fa-check"></i></button>
                                </td>
                                <!-- /ko -->
                                <!-- ko if: !$parent.isOwner() && $parent.isOpening() && $parent.isProposalUser() -->
                                <td class="text-right">
                                    <a href="javascript:;" class="btn btn-default btn-xs" data-bind="click: $parent.onShowProposalModal"><i class="fa fa-pencil"></i></a>
                                </td>
                                <!-- ko ifnot: $parent.isSelectedProposal -->
                                <td class="text-right">
                                    <a href="javascript:;" class="btn btn-info btn-xs" data-bind="click: $parent.onDeleteMyProposal"><i class="fa fa-trash"></i></a>
                                </td>
                                <!-- /ko -->
                                <!-- /ko -->
                            </tr>
                        </tbody>
                        <tfoot data-bind="visible: !proposals().length">
                            <tr>
                                <td colspan="5" class="text-center">No bidder</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <objection-modal params="isShow: showObjectionModal, demandId: id"></objection-modal>
    <demand-modal params="isShow: showDemandModal, data: currentDemand"></demand-modal>
    <proposal-modal params="isShow: showProposalModal, demandId: id, currencyCode: currency, data: showingProposal, mode: proposalViewingMode"></proposal-modal>
    <chat-modal params="isShow: showChatModal, demandId: id, proposalId: proposalId"></chat-modal>
    <div data-bind="component: {name: 'cashier-modal'}"></div>

</div>
<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/Scripts/lib/holder.js",
            "/_Admin/Scripts/lib/jquery.textarea_autosize.min.js",
            "/_Admin/View/Market/Scripts/components/ReplyPanel.js",
            "/_Admin/View/Market/Scripts/components/ProposalModal.js",
            "/_Admin/View/Market/Scripts/components/ChatModal.js",
            "/_Admin/View/Market/Scripts/components/DemandModal.js",
            "/_Admin/View/Market/Scripts/components/ObjectionModal.js",
            "/_Admin/View/Market/Scripts/components/CashierModal.js",
        ])
    })()
</script>
<script src="/_Admin/View/Market/Scripts/Kooboo.Market.js"></script>
<script src="/_Admin/View/Market/Demand/Detail.js"></script>