<!-- #layout name=blank --sideType='market'-->

<div class="page-header">
    <h1 class="title">Demands</h1>
</div>
<div data-bind="component: { name: 'kb-breadcrumb', params:[{
    name: 'MARKET'
},{
    name: Kooboo.text.common.Demands
}]}"></div>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <a class="btn green navbar-btn" data-bind="click: onCreateDemand">New demand</a>
    </div>
</div>
<div data-bind="component: { name: 'kb-table', params: tableData }"></div>
<div data-bind="component: { name: 'kb-pager', params: pager }"></div>
<demand-modal params="isShow: showDemandModal"></demand-modal>

<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/Scripts/tableModel.js",
            "/_Admin/Scripts/components/kbBreadcrumb.js",
            "/_Admin/Scripts/components/kbTable.js",
            "/_Admin/Scripts/components/kbPager.js",
            "/_Admin/View/Market/Scripts/components/DemandModal.js"
        ])
    })()
</script>
<script src="/_Admin/View/Market/Scripts/Kooboo.Market.js"></script>
<script src="/_Admin/View/Market/Demand/Index.js"></script>