<div data-bind="modal: isShow" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-bind="click: onHide"><i class="fa fa-close"></i></button>
                <h4 class="modal-title">Apply supplier</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Self Introduction</label>
                    <textarea class="form-control autosize" data-bind="value: introduction, error: introduction"></textarea>
                </div>
                <div class="form-group">
                    <label data-bind="text: 'Expertises' + (expertises().length ? (': ' + expertises().length + ' Items') : '')"></label>
                    <div data-bind="if: expertises().length">
                        <div class="input-groups" data-bind="foreach: expertises">
                            <div class="margin-bottom-10">
                                <div class="input-group">
                                    <input type="text" class="form-control input-medium" placeholder="Expertise" data-bind="value: $data.name, error: $data.name">
                                    <span class="input-group-addon">-</span>
                                    <input type="number" min="0" class="form-control input-medium" placeholder="Acceptable price" data-bind="value: $data.price, error: $data.price">
                                    <span class="input-group-btn">
                                        <a class="btn btn-default" href="javascript:;" data-bind="click: $parent.onRemoveExpertise.bind(this, $data)"><i class="fa fa-minus"></i></a>
                                    </span>
                                </div>
                                <textarea class="form-control autosize" data-bind="value: $data.description" placeholder="Description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a class="btn dark" href="javascript:;" data-bind="tooltip: Kooboo.text.common.add, tooltipPlacement: 'right', click: onAddExpertise"><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn green" data-bind="text: Kooboo.text.common.save, click: onSave"></button>
                <button class="btn gray" data-bind="text: Kooboo.text.common.cancel, click: onHide"></button>
            </div>
        </div>
    </div>
</div>