<div>
    <div class="form-horizontal margin-bottom-20" v-if="options.length > 0">
        <label>{{Kooboo.text.component.fieldEditor.selectValidationRules}}</label>
        <div class="form-group">
            <div class="col-md-10">
                <select class="form-control" v-model="selectedValue">
                    <option v-for="(item,index) in options" :value="item.type">{{item.name}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <a @click.stop="onAdd"  class="btn btn-block blue" >{{Kooboo.text.common.add}}</a>
            </div>
        </div>
    </div>
    <div v-if="validations && validations.length > 0" v-for="(item,index) in validations">
        <kb-field-validation-item :validate-model="validateModels[index]"
                :item.sync="item" :show-validate-error="showValidateError" :index="index"
        @remove="onRemove"></kb-field-validation-item>

    </div>
</div>
