<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th v-if="showSelect" class="table-checkbox">
        <input
          type="checkbox"
          :disabled="data.length <= 0"
          @input="selectedAll"
          :checked="data.length == selected.length && data.length > 0"
        />
      </th>
      <template v-for="(item, index) in slots">
        <th
          :key="index"
          v-if="item.componentInstance"
          :style="{ width: item.componentInstance.width }"
          v-bind="item.componentInstance.$attrs"
          :class="item.componentInstance.headClass"
        >
          <template>
            {{ item.componentInstance.label }}
          </template>
        </th>
      </template>
    </tr>
  </thead>
  <tbody v-if="data.length > 0">
    <tr v-for="(row, rowIndex) in data" :key="rowIndex" @click="selectRow(row)">
      <td v-if="showSelect" class="table-checkbox">
        <input type="checkbox" :checked="itemIsSelected(row)" />
      </td>
      <template v-for="(item, index) in slots">
        <td
          v-if="item.componentInstance"
          :key="index"
          :style="{ textAlign: item.componentInstance.align }"
        >
          <template v-if="item.componentInstance.prop">
            {{ row[item.componentInstance.prop] }}
          </template>
          <template v-else>
            <kb-table-column
              :customSlot="item.componentInstance.$scopedSlots.default(row)"
            ></kb-table-column>
          </template>
        </td>
      </template>
    </tr>
  </tbody>
  <tbody>
    <tr v-if="data.length <= 0">
      <td :colspan="100" class="text-center">{{ Kooboo.text.common.empty }}</td>
    </tr>
  </tbody>
  <slot></slot>
</table>
