<!-- #layout name=blank --sideType='market'-->

<div id="app">
  <div class="page-header">
    <h1 class="title">Mine</h1>
  </div>
  <kb-breadcrumb :breads="breads"></kb-breadcrumb>
  <div class="row">
    <div class="col-md-4 block-dashboard-stat">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Account</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div class="item">
                <div class="number">{{username}}</div>
                <small class="text-muted">{{Kooboo.text.common.user}}</small>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item">
                <div class="number">
                  <a @click.stop="onVerifyUser"  :class="isUserVerified? 'green':'gray'" class="label label-sm">
                    {{isUserVerified ? Kooboo.text.common.yes:Kooboo.text.common.no}}
                  </a>
                </div>
                <small class="text-muted">Verified</small>
              </div>
            </div>
            <div class="col-md-4">
              <div class="item">
                <div class="number">
                  <a style="cursor: pointer;" @click.stop="onChangeDC">{{currentDataCenter}}</a>
                </div>
                <small class="text-muted">Data center</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4 block-dashboard-stat">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Balance</h4>
          <div class="panel-actions">
            <div class="btn-group" role="group">
              <button @click="onShowRechargeModal" class="btn btn-default"><i class="fa fa-plus"></i></button>
              <button @click="onShowTopupHistoryModal" class="btn btn-default"><i class="fa fa-history"></i></button>
              <button @click="onShowCurrenies" class="btn btn-default"><i class="fa fa-money"></i></button>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="item">
                <div class="number">{{displayBalance}}</div>
                <small class="text-muted" >{{currencyCode}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>


  <data-center-modal :is-show.sync="showDataCenterModal" :available="availableDataCenters"></data-center-modal>
  <user-verify-modal :is-show.sync="showUserVerifyModal" :email="userEmail"></user-verify-modal>
<!--  <kb-recharge-modal :isShow.sync="showRechargeModal"></kb-recharge-modal>

  <currency-modal v-if="showCurrencyModal" :code= "currencyCode"></currency-modal>
  <topup-history-modal v-if="showTopupHistoryModal"></topup-history-modal>-->



</div>

<script>
  (function() {
    Kooboo.loadJS([
      "/_Admin/Scripts/components/kbBreadcrumb.js",
      "/_Admin/Scripts/lib/waterfall.min.js",
      "/_Admin/Scripts/components/UserVerifyModal.js",/*
      "/_Admin/View/Market/Scripts/components/CurrencyModal.js",
      "/_Admin/View/Market/Scripts/components/RechargeModal.js",
      "/_Admin/View/Market/Scripts/components/TopupHistoryModal.js",*/
      "/_Admin/View/Market/Scripts/components/DataCenterModal.js",
      "/_Admin/Scripts/components/kbForm.js"

    ]);
  })();
</script>
<script src="/_Admin/View/Market/Scripts/Kooboo.Market.js"></script>
 <script src="/_Admin/View/Market/Index.js"></script>
