<!-- #layout name=blank -->
<div class="page-header">
    <h1 class="title">Site user</h1>
</div>
<div data-bind="component: { name: 'kb-breadcrumb', params:[{
    name: 'SITES'
},{
    name: 'DASHBOARD'
},{
    name: Kooboo.text.common.SiteUser
}]}"></div>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <a class="btn green navbar-btn" data-bind="click: onAddUser">Add user</a>
        <a data-bind="visible: showDeleteBtn, click: onDelete" class="btn red navbar-btn">Delete</a>
    </div>
</div>
<div data-bind="component: { name: 'kb-table', params: tableData }"></div>
<div data-bind="modal: showAddUserModal" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-bind="click: onCancel"><i class="fa fa-close"></i></button>
                <h4 class="modal-title">Add User</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">Available user</label>
                        <div class="col-md-9">
                            <select class="form-control" data-bind="options: availableUsers, value: newUser, optionsText: 'userName', optionsValue: 'userId'"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Role</label>
                        <div class="col-md-9">
                            <select class="form-control" data-bind="options: availableRoles, value: newRole, optionsText: 'name', optionsValue: 'value'"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn green" data-bind="click: onSaveNewUser">Save</button>
                <button class="btn gray" data-bind="click: onCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/Scripts/components/kbTable.js",
            "/_Admin/Scripts/components/kbPager.js",
            "/_Admin/Scripts/components/kbBreadcrumb.js",
            "/_Admin/Scripts/tableModel.js"
        ])
    })()
</script>
<script src="/_Admin/View/System/SiteUser.js"></script>