.editableform-loading {
  background: url("/_Admin/Styles/bootstrap-editable/img/loading.gif") center
    center no-repeat;
}

.editable-clear-x {
  background: url("/_Admin/Styles/bootstrap-editable/img/clear.png") center
    center no-repeat;
}

[data-bind*="visible"]:not([kb-show]) {
  display: none !important;
}

[data-show-on-check]:not([kb-show]) {
  display: none !important;
}

.jumbotron p {
  word-wrap: break-word;
}

textarea[data-bind*="codeMirror"] {
  opacity: 0;
  visibility: hidden;
}

.site-instruction {
  border-right: 1px solid #dedede;
  padding: 50px 20px 60px;
}

.site-instruction:last-child {
  border: 0;
}

.site-instruction img,
.site-instruction p {
  margin-bottom: 50px;
}

.site-instruction p {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.site-instruction .navbar-btn {
  float: none;
}

/*.open>.dropdown-menu {
    max-height: 230px;
    overflow-x: hidden;
    overflow-y: auto;
}*/

.block-style-editor-v2 input.text.highlight {
  border: none;
  outline: none;
}

.block-style-editor-v2 .code li.css-property-group .btn-xs {
  display: none;
}

.block-style-editor-v2 .code li.css-property-group:hover .btn-xs {
  display: inline-block;
}

/* Override the style in the styles.css
 * the style below shoule be write to styles.css later
 */

.block-style-editor-v2 .code > li ul.typeahead {
  margin-left: 0;
}

.block-style-editor-v2 .code li {
  width: auto;
  display: inline-block;
}

.block-style-editor-v2 .code .typeahead li {
  width: 100%;
  display: block;
}

.block-style-editor-v2 input.text.highlight {
  width: 300px;
}

.block-style-editor-v2 .text.value.empty {
  padding: 0 5px;
  background: #dcdcdc;
}

.block-style-editor-v2 .code > li .action.remove-selector {
  margin-right: 0;
  margin-left: 0;
  display: none;
}

.block-style-editor-v2 .code > li:hover > .remove-selector {
  display: inline;
}

.block-style-editor-v2 .code li .pick-style {
  display: none;
}

.block-style-editor-v2 .code li:hover .pick-style {
  display: inline;
}

.dropdown-menu label.checkbox-inline {
  width: 100%;
}

/* -- SELECT2 --*/

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  border-color: #e5e5e5 !important;
  border-radius: 0 !important;
}

.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  border-color: #999999 !important;
}

.select2-container .select2-search--inline .select2-search__field {
  margin-top: 0 !important;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: #eee !important;
  color: #333 !important;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background: #fff !important;
  border-radius: 0 !important;
  border-color: #e5e5e5 !important;
}

.has-error .select2-selection {
  border: 1px solid #d84a38 !important;
}

.ko-bindings-error-input {
  width: 95%;
  height: 34px;
  display: block;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.bx-wrapper .bx-controls-direction a {
  transition: unset;
}

.template-info .list-group-item:first-child {
  border-top: 0;
}

.template-info .list-group-item {
  border-left: 0;
  border-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.template-info .list-group-item:last-child {
  border-bottom: 0;
}

.template-info .list-group-item .title {
  font-weight: 700;
  margin-right: 5px;
}

.template-list .thumbnail .wrapper {
  height: 200px;
  overflow: hidden;
}

#inline_ed .code li {
  width: auto;
}

#inline_ed span.text.value {
  max-width: 350px;
  word-break: break-all;
}

#inline_ed input.text.value {
  width: 350px !important;
}

.has-error .mce-edit-area {
  border-color: #d32b28 !important;
}

.css-property-group.style-item-editing .sp-color-editor-placeholder,
.css-property-group.style-item-editing .sp-replacer.sp-light {
  display: none !important;
}

.jstree-default > .jstree-container-ul > .jstree-node {
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-control {
  border-radius: 2px;
}

.bootstrap-switch {
  border-radius: 2px !important;
}

.bootstrap-switch .bootstrap-switch-container {
  border-radius: 2px !important;
}

.bootstrap-switch .bootstrap-switch-handle-on {
  border-top-left-radius: 1px !important;
  border-bottom-left-radius: 1px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.bootstrap-switch .bootstrap-switch-handle-off {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 1px !important;
  border-bottom-right-radius: 1px !important;
}

.bootstrap-touchspin .input-group-btn-vertical i {
  top: 2px !important;
}

blockquote footer,
.form-horizontal .control-label {
  word-wrap: break-word;
}

.jumbotron span.form-control-static {
  display: inline-block;
  padding: 0;
  margin-bottom: 5px;
  min-height: auto;
}

.kb-panel-gripper-container {
  width: 410px;
  position: relative;
  height: 100%;
  float: right;
}

.kb-panel-gripper-container.panel-hidden {
  width: 6px;
}

.kb-panel-gripper {
  padding: 8px 4px;
  background: white;
  border: 1px solid #eeeeee;
  border-radius: 4px 0 0 4px;
  position: absolute;
  left: -8px;
  top: calc(50% - 70px);
  z-index: 1000;
}

.kb-panel-gripper:before {
  content: "";
  width: 30px;
  height: 70px;
  position: absolute;
  right: -8px;
  top: -15px;
}

.kb-panel-gripper-container.panel-hidden .kb-panel-gripper:before {
  right: 0;
}

.block-visual-editor.default .kb-editor.full-size {
  right: 0;
}

.table .ip-cell {
  width: 104px;
}

.block-dashboard-stat .number {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table .table-short {
  width: 115px;
}

.summary .title {
  font-size: 16px;
  color: #205eac;
  margin-bottom: 0px;
}

.summary a {
  text-decoration: none;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}

.summary p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 450px;
  color: #676767;
}

.text-center {
  text-align: center;
}

.Logs-table {
  table-layout: fixed;
}
.Logs-table > tbody > tr > td:first-child {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* vue */
[v-cloak] {
  display: none;
}

.tox-dialog--width-lg {
  height: 70% !important;
}

/* editable-input */
.editable-input .input-sm {
  font-size: 12px;
  height: auto;
  padding: 5px 10px;
}

.editor-widget.parameter-hints-widget {
  z-index: 10000000 !important;
}
.editor-widget.suggest-widget {
  z-index: 10000001 !important;
}
.monaco-editor .parameter-hints-widget>.wrapper {
  max-width: 100% !important;
}
