<!-- #layout name=blank --sideType='market'-->

<div class="page-header">
    <h1 class="title">Supplier</h1>
</div>
<div data-bind="component: { name: 'kb-breadcrumb', params:[{
    name: 'MARKET'
},{
    name: Kooboo.text.common.Suppliers,
    url: Kooboo.Route.Supplier.ListPage
},{
    name: Kooboo.text.common.detail
}]}"></div>
<div class="thumbnail">
    <div class="caption">
        <h3 style="margin-top: 4px;">Supplier: <strong data-bind="text: name"></strong></h3>
        <hr>
        <div class="row" data-bind="foreach: expertises">
            <div class="col-md-3">
                <div class="panel panel-default panel-small">
                    <div class="panel-heading">
                        <h3 class="panel-title">Expertise</h3>
                        <div class="panel-actions">
                            <a class="btn btn-xs btn-info" data-bind="attr: { href: $data.pageUrl }"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <p class="form-control-static" data-bind="text: $data.name"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Price</label>
                                    <p class="form-control-static">
                                        <label class="label label-sm label-info" data-bind="text: $data.symbol + $data.price"></label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Description</label>
                            <div class="well well-sm" data-bind="text: $data.description"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/Scripts/components/kbBreadcrumb.js",
        ])
    })()
</script>
<script src="/_Admin/View/Market/Scripts/Kooboo.Market.js"></script>
<script src="/_Admin/View/Market/Supplier/Detail.js"></script>