<!-- #layout name=blank --sideType='market'-->

<div class="page-header">
    <h1 class="title">My Expertises</h1>
</div>
<div data-bind="component: { name: 'kb-breadcrumb', params:[{
    name: 'MARKET'
},{
    name: 'Suppliers',
    url: Kooboo.Route.Supplier.ListPage
},{
    name: 'My Expertises'
}]}"></div>


<style>
    .setting-list p.form-control-static {
        word-wrap: break-word;
        min-height: 0;
    }
    
    .setting-list {
        padding: 0;
        list-style: none;
    }
    
    .setting-list li {
        padding: 15px 0;
        border-bottom: 1px solid #eeeeee;
    }
    
    .setting-list li:last-child {
        border-bottom: 0;
    }
</style>


<ul class="setting-list clearfix">
    <li class="item clearfix">
        <div class="col-md-2">
            <label class="control-label">Self Introduction</label>
        </div>
        <div class="col-md-10">
            <div class="form-inline">
                <div class="form-group">
                    <label class="sr-only">Self Introduction</label>
                    <textarea class="form-control autosize input-xlarge" data-bind="textInput: introduction, error: introduction"></textarea>
                </div>
                <div class="form-group" data-bind="visible: introductionChanged" style="vertical-align: top;">
                    <button data-bind="click: onResetIntroduction" class="btn btn-default">Reset</button>
                    <button data-bind="click: onSaveIntroduction" class="btn green">Save</button>
                </div>
            </div>
        </div>
    </li>
    <li class="item clearfix">
        <div class="col-md-2">
            <label class="control-label">Expertises</label>
        </div>
        <div class="col-md-10">
            <div data-bind="visible: expertises().length, foreach: expertises">
                <div class="form-group">
                    <div class="input-groups">
                        <div class="input-group">
                            <input type="text" class="form-control input-small" placeholder="Expertise" data-bind="value: $data.name, error: $data.name, errorPlacement: 'top', enable: $data.isEditing">
                            <span class="input-group-addon">:</span>
                            <span class="input-group-addon" data-bind="text: $parent.currencySymbol, attr: { title: $parent.currency}"></span>
                            <input type="number" min="0" class="form-control input-small" placeholder="Acceptable price" data-bind="value: $data.price, error: $data.price, errorPlacement: 'top', enable: $data.isEditing">
                            <span class="input-group-btn">
                            <a class="btn btn-default" href="javascript:;" data-bind="click: $parent.onRemoveExpertise.bind(this, $data)"><i class="fa fa-minus"></i></a>
                            <!-- ko if: $data.isEditing -->
                            <a class="btn green" href="javascript:;" data-bind="click: $parent.onSaveExpertise.bind(this, $data)"><i class="fa fa-check"></i></a>
                            <!-- /ko -->
                            <!-- ko ifnot: $data.isEditing -->
                            <a class="btn btn-info" href="javascript:;" data-bind="click: $parent.onEditExpertise.bind(this, $data)"><i class="fa fa-pencil"></i></a>
                            <!-- /ko -->
                        </span>
                        </div>
                        <textarea class="form-control autosize input-xlarge" data-bind="value: $data.description, enable: $data.isEditing" placeholder="Description"></textarea>
                    </div>
                </div>
            </div>
            <div data-bind="visible: !isEditingExp()" class="margin-top-15">
                <a class="btn dark" href="javascript:;" data-bind="tooltip: Kooboo.text.common.add, tooltipPlacement: 'right', click: onAddExpertise"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </li>
</ul>

<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/Scripts/components/kbBreadcrumb.js",
            "/_Admin/Scripts/lib/jquery.textarea_autosize.min.js"
        ])
    })()
</script>
<script src="/_Admin/View/Market/Scripts/Kooboo.Market.js"></script>
<script src="/_Admin/View/Market/Supplier/MyExpertises.js"></script>