<!-- #layout name=blank --sideType='market'-->

<div class="page-header">
    <h1 class="title">My Services</h1>
</div>
<div data-bind="component: { name: 'kb-breadcrumb', params:[{
    name: 'MARKET'
},{
    name: Kooboo.text.common.Suppliers,
    url: Kooboo.Route.Supplier.ListPage
},{
    name: Kooboo.text.market.supplier.myServices
}]}"></div>

<div class="navbar navbar-default">
    <div class="container-fluid">
        <a data-bind="click: onAdd" class="btn green navbar-btn">Add Service</a>
        <a data-bind="visible: showDeleteBtn, click: onDelete" class="btn red navbar-btn">Delete</a>
    </div>
</div>

<div data-bind="component: { name: 'kb-table', params: tableData }"></div>

<expertise-modal></expertise-modal>

<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/Scripts/components/kbBreadcrumb.js",
            "/_Admin/Scripts/tableModel.js",
            "/_Admin/Scripts/components/kbTable.js",
            '/_Admin/View/Market/Scripts/components/ExpertiseModal.js',
            "/_Admin/Scripts/lib/jquery.textarea_autosize.min.js"
        ])
    })()
</script>
<script src="/_Admin/View/Market/Scripts/Kooboo.Market.js"></script>
<script src="/_Admin/View/Market/Supplier/MyServices.js"></script>