<!-- #layout name=blank --sideType='market'-->
<div class="page-header">
    <h1 class="title">Service</h1>
</div>
<div data-bind="component: { name: 'kb-breadcrumb', params:[{
    name: 'MARKET'
},{
    name: Kooboo.text.common.Suppliers,
    url: Kooboo.Route.Supplier.ListPage
},{
    name: Kooboo.text.market.supplier.service
}]}"></div>
<div class="thumbnail">
    <div class="caption">
        <h3 style="margin-top: 4px;"><strong data-bind="text: name"></strong></h3>
        <hr>
        <div class="row margin-bottom-20">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Price</label>
                    <div>
                        <p class="form-control-static">
                            <label class="label label-sm label-info" data-bind="text: price, attr: { title: currency}"></label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="control-label">Supplier</label>
                    <div>
                        <p class="form-control-static">
                            <a data-bind="text: supplierName, attr: { href: supplierPage }"></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <div class="well">
                        <p class="form-control-static" data-bind="text: description"></p>
                    </div>
                </div>
            </div>
        </div>
        <p data-bind="visible: !isMe()">
            <a href="javascript:;" class="btn btn-info" data-bind="click: onShowOrderModal">Order</a>
        </p>
    </div>

    <order-expertise-modal params='isShow: showOrderModal,name:name,supplierName:supplierName,id:id'></order-expertise-modal>
    <div data-bind="component: {name: 'cashier-modal'}"></div>
</div>
<script>
    (function() {
        Kooboo.loadJS([
            "/_Admin/Scripts/components/kbBreadcrumb.js",
            '/_Admin/View/Market/Scripts/components/OrderExpertiseModal.js',
            "/_Admin/View/Market/Scripts/components/CashierModal.js",
        ])
    })()
</script>
<script src="/_Admin/View/Market/Scripts/Kooboo.Market.js"></script>
<script src="/_Admin/View/Market/Supplier/Service.js"></script>