<div>
  <header id="header" class="navbar navbar-fixed-top">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#sidebar"
        kb-target=".kb-panel"
        ><i class="fa fa-bars"></i
      ></button>
      <div class="navbar-brand">
        <a class="logo" href="javascript:;" data-toggle="dropdown">
          <img src="/_Admin/Images/logo.png" alt="LOGO" />
          <i class="fa"></i>
        </a>
        <ul class="dropdown-menu">
          <li v-for="($data,index) in menus" :key="index">
            <a
              class="icon-btn btn-lg blue"
              :href="$data.url"
              :target="$data.openInNewWindow ? '_blank' : '_self'"
            >
              <i :class="$data.icon"></i>
              <div>{{$data.name}}</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="nav navbar-nav navbar-right hidden-xs">
      <li k-if="kooboosetting.IsDebug = true">
        <a href="javascript:;" @click="removeLocalStorage">
          <i class="fa fa-trash"></i> Clear LStorage</a
        ></li
      >
      <li>
        <a
          href="#"
          class="dropdown-toggle"
          data-toggle="dropdown"
          role="button"
          aria-expanded="false"
        >
          <i class="icon icon-user"></i>
          {{Kooboo.text.common.hello + ', ' + user.name}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li
            ><a href="/_Admin/Account/Profile"
              ><i class="icon icon-lock"></i
              ><span>{{Kooboo.text.component.header.user.profile}}</span></a
            ></li
          >
          <li
            ><a href="javascript:;" @click="logout"
              ><i class="icon icon-logout"></i
              ><span>{{Kooboo.text.component.header.user.signOut}}</span></a
            ></li
          >
        </ul>
      </li>
    </ul>
  </header>
</div>
