<div class="form-inline pull-right" v-if="innerCultures.length > 1">
  <div class="dropdown">
    <button
      class="btn btn-default dropdown-toggle"
      type="button"
      id="multi_lang"
      data-toggle="dropdown"
    >
      <span>{{ Kooboo.text.common.Multilingual }}</span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right" aria-labelledby="multi_lang">
      <li
        v-for="$data in innerCultures"
        :key="$data.key"
        class="{ disabled: $data.key == defaultCulture }"
      >
        <a href="javascript:;">
          <label
            :class="{ disabled: $data.key == defaultCulture }"
            class="checkbox-inline"
          >
            <input
              type="checkbox"
              v-model="$data.selected"
              :disabled="$data.key == defaultCulture"
              @change="changeSelected($data)"
            />
            {{ $data.value }}
            <span v-if="$data.key == defaultCulture">{{
              Kooboo.text.component.multilingualselector.default
            }}</span>
          </label>
        </a>
      </li>
    </ul>
  </div>
</div>
