<div class="clearfix">
    <!-- ko if: totalPages().length > 1 -->
    <ul class="pagination pull-right" data-bind="foreach: totalPages">
        <li data-bind="css:{ 'active': $data.active }">
            <!-- ko if: $data.active -->
            <span data-bind="text: $data.count"></span>
            <!-- /ko -->
            <!-- ko ifnot: $data.active -->
            <a data-bind="text: $data.count, click: $parent.changePage.bind(this, $data)" href="javascript:;"></a>
            <!-- /ko -->
        </li>
    </ul>
    <!-- /ko -->
</div>