<div class="progress progress-striped active">
  <div
    id="kb-upload-progressor"
    class="progress-bar progress-bar-info"
    role="progressbar"
    aria-valuenow="0"
    aria-valuemin="0"
    aria-valuemax="100"
    :style="{width:percentageString}"
    :aria-valuenow="percentage * 100"
  >
    <span
      v-if="percentage !== 1"
      >{{Kooboo.text.component.progress.uploading + ' ' +
      percentageString}}</span
    >
    <span v-if="percentage == 1"
      >{{Kooboo.text.component.progress.uploaded + ', ' +
      Kooboo.text.component.progress.pleaseWait}}</span
    >
  </div>
</div>
