<aside id="sidebar">
  <div v-if="hasSiteName" class="topbar">
    <div class="block-sitemanager">
      <a
        :href="dashboardUrl"
        @click.prevent="SPAClick"
        class="return-link"
        title="Dashboard"
        ><i class="fa fa-tachometer"></i
      ></a>
      <h6 class="title">{{Kooboo.text.component.sidebar.currentSite}}</h6>
      <div class="switcher block">
        <span class="current">
          <span>{{siteName}}</span>
        </span>
      </div>
    </div>
  </div>
  <div :class="{wrap:hasSiteName}">
    <nav class="block-menu">
      <sidebar-list :list-data="sidebar"></sidebar-list>
    </nav>
  </div>
</aside>
