<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServerHost" value="local.kooboo" />
    <!--<add key="AccountApiUrl" value="https://ns4.dnscall.org"/>--> 
    <!-- use this for testing of local repository.-->
     <!--<add key="ThemeUrl" value="http://127.0.0.1:81" />-->  
    <add key="CmsLang" value="zh"/> 
      <add key="IsOnlineServer" value="false"/>
    <add key="log" value="true"/> 
    <add key="AllowUsers" value="*"/>
    <add key="DefaultUser" value="admin, admin"/>
    <add key="RedirectUser" value="true"/>
  </appSettings> 
</configuration>