<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="ServerHost" value="local.kooboo" />
    <add key="AccountApiUrl" value="http://127.0.0.1:81"/> 
     <!--<add key="ThemeUrl" value="http://127.0.0.1:81" />-->  
    <add key="CmsLang" value="zh"/> 
    <add key="log" value="true"/> 
    <add key="AllowUsers" value="*"/>
    <add key="DefaultUser" value="admin, admin"/>
    <add key="RedirectUser" value="false"/>
  </appSettings> 
</configuration>