<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServerHost" value="local.kooboo" />
    <!--<add key="AccountApiUrl" value="http://127.0.0.1:81"/>--> 
    <!-- use this for testing of local repository.-->
     <!--<add key="ThemeUrl" value="http://127.0.0.1:81" />--> 
    <!--Cms language setting, if not set, it will use the OS UI language.-->
    <add key="CmsLang" value="en" />
    <add key="AutoStart" value="false" />
    <add key="IsTemplateServer" value="false" />
    <!--<add key="ScreenshotPath" value="../../../Kooboo.Screenshot/" />-->
    <!-- <add key="IsOnlineServer" value="true"/> -->
    <add key="log" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>