<!-- #layout name=default -->
<div id="main" class="offset-top">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="page-header">
                <h1 class="title">Register Success</h1>
            </div>
            <div>
                Register success
            </div>

            <ul class="pager">
                <li class="next" data-bind="visible:confirm"><a class="btn green" href="javascript:;" data-bind="click:submit">Pay now!</a></li>
                <li class="previous"><a class="btn gray" href="javascript:;" data-bind="visible:confirm,click:cancel">Cancel</a></li>
            </ul>
        </div>
    </div>
</div>
<script src="/_Admin/View/Domains/RegisterSuccess.js"></script>